# PLAYER PROFILE

In [ ]:
import pandas as pd
import json

# -----------------------------
# Load JSON
# -----------------------------
with open("player_profile.json", "r", encoding="utf-8") as f:
    player = json.load(f)

# ======================================================
# 1) PLAYERS TABLE
# ======================================================
df_players = pd.DataFrame([{
    "player_id": player.get("id"),
    "first_name": player.get("first_name"),
    "last_name": player.get("last_name"),
    "abbr_name": player.get("abbr_name"),
    "birth_place": player.get("birth_place"),
    "position": player.get("position"),
    "height": player.get("height"),
    "weight": player.get("weight"),
    "status": player.get("status"),
    "eligibility": player.get("eligibility")
}])

# ======================================================
# 2) PLAYER STATISTICS TABLE
# ======================================================

rows_stats = []

for season in player.get("seasons", []):
    season_id = season.get("id")

    for team in season.get("teams", []):
        stats = team.get("statistics", {})

        rows_stats.append({
            "player_id": player.get("id"),
            "team_id": team.get("id"),
            "season_id": season_id,

            # Basic
            "games_played": stats.get("games_played"),
            "games_started": stats.get("games_started"),

            # Rushing
            "rushing_yards": stats.get("rushing", {}).get("yards"),
            "rushing_touchdowns": stats.get("rushing", {}).get("touchdowns"),

            # Receiving
            "receiving_yards": stats.get("receiving", {}).get("yards"),
            "receiving_touchdowns": stats.get("receiving", {}).get("touchdowns"),

            # Kick Return
            "kick_return_yards": stats.get("kick_returns", {}).get("yards"),

            # Fumbles
            "fumbles": stats.get("fumbles", {}).get("fumbles"),
        })

df_player_statistics = pd.DataFrame(rows_stats)

# ======================================================
# 3) PLAYER SEASONS TABLE
# ======================================================

rows_seasons = []

for season in player.get("seasons", []):
    rows_seasons.append({
        "player_id": player.get("id"),
        "season_id": season.get("id"),
        "season_year": season.get("year"),
        "season_type": season.get("type"),
    })

df_player_seasons = pd.DataFrame(rows_seasons)

# ------------------------------------------
# SHOW THE RESULT
# ------------------------------------------
print("\n=== PLAYERS TABLE ===")
print(df_players)

print("\n=== PLAYER_STATISTICS TABLE ===")
print(df_player_statistics)

print("\n=== PLAYER_SEASONS TABLE ===")
print(df_player_seasons)


def clean_df(df):
    df = df.astype("object")  # convert all to object
    def clean_value(x):
        if x is None: return None
        if pd.isna(x): return None
        if str(x).strip().lower() in ["nan", "none", "null", "nat"]:
            return None
        return x
    return df.apply(lambda col: col.map(clean_value))

df_players = clean_df(df_players)
df_player_statistics = clean_df(df_player_statistics)
df_player_seasons = clean_df(df_player_seasons)


def fix_nan_strings(df):
    return df.applymap(
        lambda x: None 
        if (x is None or pd.isna(x) or str(x).strip().lower() in ["nan", "none", "null", "nat", ""]) 
        else x
    )

df_player_statistics = fix_nan_strings(df_player_statistics)

=== PLAYERS TABLE ===
                              player_id first_name last_name  abbr_name  \
0  3992e590-8f40-11ec-9f33-1965c9c46e44      Kaleb   Johnson  K.Johnson

         birth_place position  height  weight status eligibility
0  Hamilton, OH, USA       RB      72   225.0    NWT          JR

=== PLAYER_STATISTICS TABLE ===
                              player_id                               team_id  \
0  3992e590-8f40-11ec-9f33-1965c9c46e44  a2ee495d-37c7-45ac-ac3d-d3a492a219c1
1  3992e590-8f40-11ec-9f33-1965c9c46e44  a2ee495d-37c7-45ac-ac3d-d3a492a219c1
2  3992e590-8f40-11ec-9f33-1965c9c46e44  a2ee495d-37c7-45ac-ac3d-d3a492a219c1

                              season_id  games_played  games_started  \
0  ff53e5e4-10ef-4842-a0b7-b489956fa07e            13              6
1  f58c6dbf-9dfe-487e-8b0b-af66af887206            10              5
2  908fbc20-f5c7-11ee-a306-c311afc28263            12             11

   rushing_yards  rushing_touchdowns  receiving_yards  receiving_touchdowns  \
0            779                   6               27                     0
1            463                   3               25                     0
2           1537                  21              188                     2

   kick_return_yards  fumbles
0              325.0        1
1               77.0        2
2                NaN        0

=== PLAYER_SEASONS TABLE ===
                              player_id                             season_id  \
0  3992e590-8f40-11ec-9f33-1965c9c46e44  ff53e5e4-10ef-4842-a0b7-b489956fa07e
1  3992e590-8f40-11ec-9f33-1965c9c46e44  f58c6dbf-9dfe-487e-8b0b-af66af887206
2  3992e590-8f40-11ec-9f33-1965c9c46e44  908fbc20-f5c7-11ee-a306-c311afc28263

   season_year season_type
0         2022         REG
1         2023         REG
2         2024         REG

C:\Users\Paul\AppData\Local\Temp\ipykernel_17736\1782108679.py:109: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  return df.applymap(

# RANKINGS

In [6]:
import pandas as pd
import json

# Load JSON file into a variable
with open("ranking.json", "r", encoding="utf-8") as f:
    rankingdata = json.load(f)


rows = []

for team in rankingdata.get("rankings", []):
    rows.append({
        "poll_id": rankingdata["poll"].get("id"),
        "poll_name": rankingdata["poll"].get("name"),
        "poll_alias": rankingdata["poll"].get("alias"),
        "season": rankingdata.get("season"),
        "week": rankingdata.get("week"),
        "effective_time": rankingdata.get("effective_time"),

        "team_id": team.get("id"),
        "team_name": team.get("name"),
        "team_market": team.get("market"),
        "rank": team.get("rank"),
        "points": team.get("points"),
        "first_place_votes": team.get("fp_votes")
    })


df_rankings = pd.DataFrame(rows)

# df_rankings.info()

# df_rankings

candidate_rows = []

for c in rankingdata.get("candidates", []):
    candidate_rows.append({
        # "poll_id": rankingdata["poll"].get("id"),
        # "poll_name": rankingdata["poll"].get("name"),
        # "poll_alias": rankingdata["poll"].get("alias"),
        # "season": rankingdata.get("season"),
        # "week": rankingdata.get("week"),
        # "effective_time": rankingdata.get("effective_time"),

        "team_id": c.get("id"),
        "team_name": c.get("name"),
        "team_market": c.get("market"),
        "votes": c.get("votes")
    })

df_candidates = pd.DataFrame(candidate_rows)
# df_candidates

# df_candidates.info()
# df_rankings.info()

# df_candidates.to_csv("candidates.csv", index=False, encoding="utf-8")
# df_rankings.to_csv("rankings.csv", index=False, encoding="utf-8")

# df_rankings
# # df_candidates

In [7]:
df_rankings["effective_time"] = pd.to_datetime(df_rankings["effective_time"])

df_candidates.to_csv("candidates.csv", index=False, encoding="utf-8")
df_rankings.to_csv("rankings.csv", index=False, encoding="utf-8")

df_rankings.info()
df_candidates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   poll_id            25 non-null     object
 1   poll_name          25 non-null     object
 2   poll_alias         25 non-null     object
 3   season             25 non-null     int64
 4   week               25 non-null     int64
 5   effective_time     25 non-null     datetime64[ns, UTC]
 6   team_id            25 non-null     object
 7   team_name          25 non-null     object
 8   team_market        25 non-null     object
 9   rank               25 non-null     int64
 10  points             25 non-null     int64
 11  first_place_votes  25 non-null     int64
dtypes: datetime64[ns, UTC](1), int64(5), object(6)
memory usage: 2.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   team_id      24 non-null     object
 1   team_name    24 non-null     object
 2   team_market  24 non-null     object
 3   votes        24 non-null     int64
dtypes: int64(1), object(3)
memory usage: 900.0+ bytes

# ROSTER

In [29]:
import pandas as pd
import json

# Load JSON file into a variable
with open("roster.json", "r", encoding="utf-8") as f:
    rosterdata = json.load(f)

# # Now you can use roster_data like a normal Python dict
# print(rosterdata)
#rosterdata 

# Team - [id, name, market,alias,founded,mascot,fight_song,championships_won,conference_titles,playoff_appearances]
# franchise = [id,name]
# venue = [id,name,city,state,country,zip,address,capacity,surface,roof_type,sr_id]
# location = [lat, lng]
# division = [id,name,alias]
# conference = [id,name,alias]
# coaches = [id,full_name,first_name,last_name,position ]
# players = [id,name,jersey,last_name,first_name,abbr_name,weight,height,position,birth_place,status,eligibility]


rows = []

for player in rosterdata.get("players", []):
    
    # Safe coach extraction (coaches is a LIST)
    coach = rosterdata.get("coaches", [{}])[0]

    rows.append({

        # TEAM
        "team_id": rosterdata.get("id"),
        "name": rosterdata.get("name"),
        "market": rosterdata.get("market"),
        "alias": rosterdata.get("alias"),
        "founded": rosterdata.get("founded"),
        "mascot": rosterdata.get("mascot"),
        "fight_song": rosterdata.get("fight_song"),
        "championships_won": rosterdata.get("championships_won"),
        "conference_titles": rosterdata.get("conference_titles"),
        "playoff_appearances": rosterdata.get("playoff_appearances"),

        # FRANCHISE
        "franchise_id": rosterdata["franchise"].get("id"),
        "franchise_name": rosterdata["franchise"].get("name"),

        # VENUE
        "venue_id": rosterdata["venue"].get("id"),
        "venue_name": rosterdata["venue"].get("name"),
        "venue_city": rosterdata["venue"].get("city"),
        "venue_state": rosterdata["venue"].get("state"),
        "venue_country": rosterdata["venue"].get("country"),
        "venue_zip": rosterdata["venue"].get("zip"),
        "venue_address": rosterdata["venue"].get("address"),
        "venue_capacity": rosterdata["venue"].get("capacity"),
        "venue_surface": rosterdata["venue"].get("surface"),
        "venue_roof_type": rosterdata["venue"].get("roof_type"),
        "venue_sr_id": rosterdata["venue"].get("sr_id"),

        # LOCATION (inside venue)
        "location_lat": rosterdata["venue"]["location"].get("lat"),
        "location_lng": rosterdata["venue"]["location"].get("lng"),

        # DIVISION
        "division_id": rosterdata["division"].get("id"),
        "division_name": rosterdata["division"].get("name"),
        "division_alias": rosterdata["division"].get("alias"),

        # CONFERENCE
        "conference_id": rosterdata["conference"].get("id"),
        "conference_name": rosterdata["conference"].get("name"),
        "conference_alias": rosterdata["conference"].get("alias"),

        # COACH (first coach only)
        "coach_id": coach.get("id"),
        "coach_full_name": coach.get("full_name"),
        "coach_first_name": coach.get("first_name"),
        "coach_last_name": coach.get("last_name"),
        "coach_position": coach.get("position"),

        # PLAYER
        "player_id": player.get("id"),
        "player_name": player.get("name"),
        "player_jersey": player.get("jersey"),
        "player_first_name": player.get("first_name"),
        "player_last_name": player.get("last_name"),
        "player_abbr_name": player.get("abbr_name"),
        "player_weight": player.get("weight"),
        "player_height": player.get("height"),
        "player_position": player.get("position"),
        "player_birth_place": player.get("birth_place"),
        "player_status": player.get("status"),
        "player_eligibility": player.get("eligibility"),
        "player_name_suffix": player.get("name_suffix")
    })

df_roster = pd.DataFrame(rows)
# pd.set_option('display.max_columns', None)

# df_roster.to_csv("roster.csv", index=False, encoding="utf-8")
# df_roster.info()
# df_roster

In [30]:
df_roster["location_lat"] = pd.to_numeric(df_roster["location_lat"], errors="coerce")
df_roster["location_lng"] = pd.to_numeric(df_roster["location_lng"], errors="coerce")

df_roster["player_height"] = pd.to_numeric(df_roster["player_height"], errors="coerce").astype("Int64")
df_roster["player_weight"] = pd.to_numeric(df_roster["player_weight"], errors="coerce").astype("Int64")

df_roster["player_jersey"] = pd.to_numeric(df_roster["player_jersey"], errors="coerce").astype("Int64")

df_roster.to_csv("roster.csv", index=False, encoding="utf-8")

df_roster.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 49 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   team_id              125 non-null    object
 1   name                 125 non-null    object
 2   market               125 non-null    object
 3   alias                125 non-null    object
 4   founded              125 non-null    int64
 5   mascot               125 non-null    object
 6   fight_song           125 non-null    object
 7   championships_won    125 non-null    int64
 8   conference_titles    125 non-null    int64
 9   playoff_appearances  125 non-null    int64
 10  franchise_id         125 non-null    object
 11  franchise_name       125 non-null    object
 12  venue_id             125 non-null    object
 13  venue_name           125 non-null    object
 14  venue_city           125 non-null    object
 15  venue_state          125 non-null    object
 16  venue_country        125 non-null    object
 17  venue_zip            125 non-null    object
 18  venue_address        125 non-null    object
 19  venue_capacity       125 non-null    int64
 20  venue_surface        125 non-null    object
 21  venue_roof_type      125 non-null    object
 22  venue_sr_id          125 non-null    object
 23  location_lat         125 non-null    float64
 24  location_lng         125 non-null    float64
 25  division_id          125 non-null    object
 26  division_name        125 non-null    object
 27  division_alias       125 non-null    object
 28  conference_id        125 non-null    object
 29  conference_name      125 non-null    object
 30  conference_alias     125 non-null    object
 31  coach_id             125 non-null    object
 32  coach_full_name      125 non-null    object
 33  coach_first_name     125 non-null    object
 34  coach_last_name      125 non-null    object
 35  coach_position       125 non-null    object
 36  player_id            125 non-null    object
 37  player_name          125 non-null    object
 38  player_jersey        125 non-null    Int64
 39  player_first_name    125 non-null    object
 40  player_last_name     125 non-null    object
 41  player_abbr_name     125 non-null    object
 42  player_weight        125 non-null    Int64
 43  player_height        125 non-null    Int64
 44  player_position      125 non-null    object
 45  player_birth_place   125 non-null    object
 46  player_status        125 non-null    object
 47  player_eligibility   125 non-null    object
 48  player_name_suffix   12 non-null     object
dtypes: Int64(3), float64(2), int64(5), object(39)
memory usage: 48.3+ KB

# SEASON SCHEDULE

In [103]:
import pandas as pd
import json

# Load JSON file into a variable
with open("sched.json", "r", encoding="utf-8") as f:
    sea_schedule = json.load(f)
     

data = sea_schedule   

rows = []

season = data

for week in season.get("weeks", []):
    for game in week.get("games", []):

        # shortcut references
        venue = game.get("venue", {})
        home = game.get("home", {})
        away = game.get("away", {})
        broadcast = game.get("broadcast", {})
        timezones = game.get("time_zones", {})
        weather = game.get("weather", {})
        wind = weather.get("wind", {})
        scoring = game.get("scoring", {})

        row = {
            # ------------------------
            # SEASON INFO
            # ------------------------
            "season_id": season.get("id"),
            "season_year": season.get("year"),
            "season_type": season.get("type"),
            "season_name": season.get("name"),

            # ------------------------
            # WEEK INFO
            # ------------------------
            "week_id": week.get("id"),
            "week_sequence": week.get("sequence"),
            "week_title": week.get("title"),

            # ------------------------
            # GAME INFO
            # ------------------------
            "game_id": game.get("id"),
            "game_status": game.get("status"),
            "scheduled": game.get("scheduled"),
            "attendance": game.get("attendance"),
            "entry_mode": game.get("entry_mode"),
            "coverage": game.get("coverage"),
            "sr_id": game.get("sr_id"),
            "neutral_site": game.get("neutral_site"),
            "game_type": game.get("game_type"),
            "conference_game": game.get("conference_game"),
            "duration": game.get("duration"),
            "expected_latency": game.get("expected_latency"),

            # ------------------------
            # VENUE INFO
            # ------------------------
            "venue_id": venue.get("id"),
            "venue_name": venue.get("name"),
            "venue_city": venue.get("city"),
            "venue_state": venue.get("state"),
            "venue_country": venue.get("country"),
            "venue_zip": venue.get("zip"),
            "venue_address": venue.get("address"),
            "venue_capacity": venue.get("capacity"),
            "venue_surface": venue.get("surface"),
            "venue_roof": venue.get("roof_type"),
            "venue_lat": venue.get("location", {}).get("lat"),
            "venue_lng": venue.get("location", {}).get("lng"),

            # ------------------------
            # TEAMS (HOME)
            # ------------------------
            "home_id": home.get("id"),
            "home_name": home.get("name"),
            "home_alias": home.get("alias"),
            "home_game_number": home.get("game_number"),

            # ------------------------
            # TEAMS (AWAY)
            # ------------------------
            "away_id": away.get("id"),
            "away_name": away.get("name"),
            "away_alias": away.get("alias"),
            "away_game_number": away.get("game_number"),

            # ------------------------
            # BROADCAST
            # ------------------------
            "broadcast_network": broadcast.get("network"),
            "broadcast_satellite": broadcast.get("satellite"),

            # ------------------------
            # TIME ZONES
            # ------------------------
            "tz_venue": timezones.get("venue"),
            "tz_home": timezones.get("home"),
            "tz_away": timezones.get("away"),

            # ------------------------
            # WEATHER
            # ------------------------
            "weather_condition": weather.get("condition"),
            "weather_humidity": weather.get("humidity"),
            "weather_temp": weather.get("temp"),
            "wind_speed": wind.get("speed"),
            "wind_direction": wind.get("direction"),

            # ------------------------
            # SCORING (1st-level)
            # ------------------------
            "home_points_total": scoring.get("home_points"),
            "away_points_total": scoring.get("away_points"),

            # ------------------------
            # SCORING PERIODS (just count)
            # ------------------------
            "period_count": len(scoring.get("periods", [])),
        }

        rows.append(row)

df_schedule = pd.DataFrame(rows)

# pd.set_option("display.max_columns", None)

# df_schedule.to_csv("schedule.csv", index=False, encoding="utf-8")
# df_schedule.info()
df_schedule

,season_id,season_year,season_type,season_name,week_id,week_sequence,week_title,game_id,game_status,scheduled,...,tz_home,tz_away,weather_condition,weather_humidity,weather_temp,wind_speed,wind_direction,home_points_total,away_points_total,period_count
0,754e4990-efc7-11ef-bb2a-5d2d22b9215e,2025,REG,REG,c6cd2df1-2ab8-4b0d-992b-1cfacdd81dfd,1,1,ff0532c8-cc0d-473a-b47f-421eccf4d427,closed,2025-08-23T16:00:00+00:00,...,US/Central,US/Central,Partly cloudy,88.0,67.0,2.0,ESE,21.0,24.0,4
1,754e4990-efc7-11ef-bb2a-5d2d22b9215e,2025,REG,REG,c6cd2df1-2ab8-4b0d-992b-1cfacdd81dfd,1,1,7770d00f-8df8-4629-935e-d22b8592a6b5,closed,2025-08-23T17:00:00+00:00,...,US/Central,US/Central,Overcast,84.0,80.0,2.0,SSE,20.0,6.0,4
2,754e4990-efc7-11ef-bb2a-5d2d22b9215e,2025,REG,REG,c6cd2df1-2ab8-4b0d-992b-1cfacdd81dfd,1,1,31adc52f-a271-4e44-a252-7f6093d08be6,closed,2025-08-23T20:00:00+00:00,...,US/Pacific,US/Mountain,Sunny,17.0,103.0,5.0,E,38.0,31.0,4
3,754e4990-efc7-11ef-bb2a-5d2d22b9215e,2025,REG,REG,c6cd2df1-2ab8-4b0d-992b-1cfacdd81dfd,1,1,e82376a4-dbbf-4d70-afb0-fbd6a54553f4,closed,2025-08-23T20:30:00+00:00,...,US/Pacific,US/Central,Sunny,18.0,98.0,5.0,NNE,0.0,42.0,4
4,754e4990-efc7-11ef-bb2a-5d2d22b9215e,2025,REG,REG,c6cd2df1-2ab8-4b0d-992b-1cfacdd81dfd,1,1,dfcb530d-3329-4624-8428-c71eea57c449,closed,2025-08-23T22:30:00+00:00,...,US/Central,US/Pacific,Sunny,50.0,85.0,12.0,NNE,31.0,7.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1683,754e4990-efc7-11ef-bb2a-5d2d22b9215e,2025,REG,REG,8d2f27f4-2316-469e-9698-01df7ca90292,19,19,c26a2823-93de-4dc9-8cfb-e92be1eb7876,scheduled,2026-01-03T01:00:00+00:00,...,None,None,None,NaN,NaN,NaN,None,NaN,NaN,0
1684,754e4990-efc7-11ef-bb2a-5d2d22b9215e,2025,REG,REG,8d2f27f4-2316-469e-9698-01df7ca90292,19,19,17c5bcbb-4bbe-40b2-8af5-03508a991a62,time-tbd,2026-01-05T18:00:00+00:00,...,None,None,None,NaN,NaN,NaN,None,NaN,NaN,0
1685,754e4990-efc7-11ef-bb2a-5d2d22b9215e,2025,REG,REG,6b37eac4-9952-4e73-a4f6-31b3bc3a0087,20,20,9d6f8e94-73bd-4765-bc52-01f6008adfba,scheduled,2026-01-09T00:30:00+00:00,...,None,None,None,NaN,NaN,NaN,None,NaN,NaN,0
1686,754e4990-efc7-11ef-bb2a-5d2d22b9215e,2025,REG,REG,6b37eac4-9952-4e73-a4f6-31b3bc3a0087,20,20,37dbbaa6-4612-43bc-b924-529496160bd8,scheduled,2026-01-10T00:30:00+00:00,...,None,None,None,NaN,NaN,NaN,None,NaN,NaN,0
1687,754e4990-efc7-11ef-bb2a-5d2d22b9215e,2025,REG,REG,a4bdd09d-77db-4262-bc1a-2a87e4987557,21,21,ac60aab5-2638-45de-87f0-037e3f199282,scheduled,2026-01-20T00:30:00+00:00,...,None,None,None,NaN,NaN,NaN,None,NaN,NaN,0

home_id              1680 non-null   object             
 32  home_name            1688 non-null   object             
 33  home_alias           1688 non-null   object             
 34  home_game_number

In [110]:
# Convert 'scheduled' column to datetime
df_schedule["scheduled"] = pd.to_datetime(df_schedule["scheduled"], errors="coerce")

# Convert latitude and longitude to float
df_schedule["venue_lat"] = pd.to_numeric(df_schedule["venue_lat"], errors="coerce")
df_schedule["venue_lng"] = pd.to_numeric(df_schedule["venue_lng"], errors="coerce")

df_schedule.to_csv("schedule.csv", index=False, encoding="utf-8")

df_schedule.info()

df_schedule[["home_id", "home_name", "home_game_number"]]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1688 entries, 0 to 1687
Data columns (total 52 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   season_id            1688 non-null   object
 1   season_year          1688 non-null   int64
 2   season_type          1688 non-null   object
 3   season_name          1688 non-null   object
 4   week_id              1688 non-null   object
 5   week_sequence        1688 non-null   int64
 6   week_title           1688 non-null   object
 7   game_id              1688 non-null   object
 8   game_status          1688 non-null   object
 9   scheduled            1688 non-null   datetime64[ns, UTC]
 10  attendance           1402 non-null   float64
 11  entry_mode           1688 non-null   object
 12  coverage             1688 non-null   object
 13  sr_id                1609 non-null   object
 14  neutral_site         77 non-null     object
 15  game_type            1688 non-null   object
 16  conference_game      1688 non-null   bool
 17  duration             1407 non-null   object
 18  expected_latency     812 non-null    float64
 19  venue_id             1657 non-null   object
 20  venue_name           1657 non-null   object
 21  venue_city           1657 non-null   object
 22  venue_state          1656 non-null   object
 23  venue_country        1657 non-null   object
 24  venue_zip            1656 non-null   object
 25  venue_address        1657 non-null   object
 26  venue_capacity       1657 non-null   float64
 27  venue_surface        1657 non-null   object
 28  venue_roof           1657 non-null   object
 29  venue_lat            1657 non-null   float64
 30  venue_lng            1657 non-null   float64
 31  home_id              1680 non-null   object
 32  home_name            1688 non-null   object
 33  home_alias           1688 non-null   object
 34  home_game_number     1608 non-null   float64
 35  away_id              1672 non-null   object
 36  away_name            1688 non-null   object
 37  away_alias           1688 non-null   object
 38  away_game_number     1608 non-null   float64
 39  broadcast_network    1673 non-null   object
 40  broadcast_satellite  502 non-null    object
 41  tz_venue             1657 non-null   object
 42  tz_home              1609 non-null   object
 43  tz_away              1554 non-null   object
 44  weather_condition    1416 non-null   object
 45  weather_humidity     1416 non-null   float64
 46  weather_temp         1416 non-null   float64
 47  wind_speed           1416 non-null   float64
 48  wind_direction       1416 non-null   object
 49  home_points_total    1413 non-null   float64
 50  away_points_total    1413 non-null   float64
 51  period_count         1688 non-null   int64
dtypes: bool(1), datetime64[ns, UTC](1), float64(12), int64(3), object(35)
memory usage: 674.3+ KB

,home_id,home_name,home_game_number
0,0dd26ea7-79fb-4ea8-bf48-7c31108e14a3,Kansas State Wildcats,1.0
1,deea4446-2bee-4144-96bc-9f1e8ccceee8,Nicholls State Colonels,1.0
2,5f105ef1-4d01-45a5-bfbb-497ee86a8eba,UNLV Rebels,1.0
3,1e3f5ade-a73e-44d5-a042-0a32f291d6f4,Portland State Vikings,1.0
4,d0212bdb-5dd4-4604-a221-9adf26e6fd4a,Kansas Jayhawks,1.0
...,...,...,...
1683,e7ce7680-f058-11ee-89df-6558e107cb95,Team TBD,NaN
1684,None,FCS Semifinal 1 (win),NaN
1685,e7ce7680-f058-11ee-89df-6558e107cb95,Team TBD,NaN
1686,e7ce7680-f058-11ee-89df-6558e107cb95,Team TBD,NaN
1687,None,Peach Bowl (win),NaN

# SEASONS

In [12]:
import pandas as pd
import json

# Load JSON file into a variable
with open("seasons.json", "r", encoding="utf-8") as f:
    seasons = json.load(f)
    data = seasons 


rows = []

league = data.get("league", {})

for season in data.get("seasons", []):

    row = {
        # ----- LEAGUE INFO -----
        "league_id": league.get("id"),
        "league_name": league.get("name"),
        "league_alias": league.get("alias"),

        # ----- SEASON INFO -----
        "season_id": season.get("id"),
        "season_year": season.get("year"),
        "start_date": season.get("start_date"),
        "end_date": season.get("end_date"),
        "status": season.get("status"),

        # ----- FLATTEN NESTED "type" -----
        "type_code": season.get("type", {}).get("code"),
    }

    rows.append(row)

# Convert to DataFrame
df_seasons = pd.DataFrame(rows)

# Show complete output
# pd.set_option("display.max_columns", None)

# df_seasons.to_csv("seasons.csv", index=False, encoding="utf-8")
# df_seasons.info()
# df_seasons

In [13]:
df_seasons["start_date"] = pd.to_datetime(df_seasons["start_date"])
df_seasons["end_date"] = pd.to_datetime(df_seasons["end_date"])

df_seasons.to_csv("seasons.csv", index=False, encoding="utf-8")

df_seasons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   league_id     13 non-null     object
 1   league_name   13 non-null     object
 2   league_alias  13 non-null     object
 3   season_id     13 non-null     object
 4   season_year   13 non-null     int64
 5   start_date    13 non-null     datetime64[ns]
 6   end_date      13 non-null     datetime64[ns]
 7   status        13 non-null     object
 8   type_code     13 non-null     object
dtypes: datetime64[ns](2), int64(1), object(6)
memory usage: 1.0+ KB

In [26]:
# df_player_profile.info()
# df_rankings.info()
# df_roster.info()
# df_schedule.info()
# df_seasons.info()

import pandas as pd
from io import StringIO

def df_info_to_string(df):
    buffer = StringIO()
    df.info(buf=buffer)
    return buffer.getvalue()

# Collect info sections
info_text = ""

info_text += "===== PLAYER PROFILE INFO =====\n"
info_text += df_info_to_string(df_player_profile) + "\n\n"

info_text += "===== RANKINGS INFO =====\n"
info_text += df_info_to_string(df_rankings) + "\n\n"

info_text += "===== ROSTER INFO =====\n"
info_text += df_info_to_string(df_roster) + "\n\n"

info_text += "===== SEASON SCHEDULE INFO =====\n"
info_text += df_info_to_string(df_schedule) + "\n\n"

info_text += "===== SEASONS INFO =====\n"
info_text += df_info_to_string(df_seasons) + "\n\n"

# Save to one file
with open("all_df_info.txt", "w", encoding="utf-8") as f:
    f.write(info_text)

print("Saved: all_df_info.txt")

Saved: all_df_info.txt

Load Order : 

1ï¸âƒ£ conferences  
2ï¸âƒ£ divisions  
3ï¸âƒ£ venues  
4ï¸âƒ£ teams  
5ï¸âƒ£ seasons  
6ï¸âƒ£ players  
7ï¸âƒ£ player_statistics  
8ï¸âƒ£ rankings  
9ï¸âƒ£ coaches (optional)

# LOAD CONFERENCES:

In [31]:
df_conferences = df_roster[[
    "conference_id",
    "conference_name",
    "conference_alias"
]].drop_duplicates()

df_conferences = df_conferences.where(pd.notnull(df_conferences), None)

insert_sql = """
INSERT INTO conferences (conference_id, name, alias)
VALUES (%s, %s, %s)
"""

cursor.executemany(insert_sql, df_conferences.values.tolist())
conn.commit()
print("âœ” conferences loaded")

âœ” conferences loaded

# LOAD DIVISIONS:

In [32]:
df_divisions = df_roster[[
    "division_id",
    "division_name",
    "division_alias"
]].drop_duplicates()

df_divisions = df_divisions.where(pd.notnull(df_divisions), None)

insert_sql = """
INSERT INTO divisions (division_id, name, alias)
VALUES (%s, %s, %s)
"""

cursor.executemany(insert_sql, df_divisions.values.tolist())
conn.commit()
print("âœ” divisions loaded")

âœ” divisions loaded

# LOAD VENUES

In [33]:
venue_cols = [
    "venue_id", "venue_name", "venue_city", "venue_state",
    "venue_country", "venue_zip", "venue_address",
    "venue_capacity", "venue_surface", "venue_roof",
    "venue_lat", "venue_lng"
]

df_venues = df_schedule[venue_cols].dropna(subset=["venue_id"]).drop_duplicates()

df_venues = df_venues.where(pd.notnull(df_venues), None)

insert_sql = """
INSERT INTO venues (
    venue_id, name, city, state, country, zip,
    address, capacity, surface, roof_type,
    latitude, longitude
) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
"""

cursor.executemany(insert_sql, df_venues.values.tolist())
conn.commit()
print("âœ” venues loaded")

âœ” venues loaded

# LOAD TEAMS:

In [94]:
import pandas as pd
import json

# --------------------------------------
# LOAD SEASON SCHEDULE
# --------------------------------------
with open("sched.json", "r", encoding="utf-8") as f:
    data = json.load(f)

teams = {}

# --------------------------------------
# EXTRACT TEAMS FROM EVERY GAME (home + away)
# --------------------------------------
for week in data.get("weeks", []):
    for game in week.get("games", []):

        # Home team
        home = game.get("home", {})
        if "id" in home:
            teams[home["id"]] = {
                "team_id": home.get("id"),
                "market": home.get("market"),
                "name": home.get("name"),
                "alias": home.get("alias"),
                "conference_id": home.get("conference", {}).get("id"),
                "division_id": home.get("division", {}).get("id"),
                "venue_id": game.get("venue", {}).get("id")
            }

        # Away team
        away = game.get("away", {})
        if "id" in away:
            teams[away["id"]] = {
                "team_id": away.get("id"),
                "market": away.get("market"),
                "name": away.get("name"),
                "alias": away.get("alias"),
                "conference_id": away.get("conference", {}).get("id"),
                "division_id": away.get("division", {}).get("id"),
                "venue_id": game.get("venue", {}).get("id")
            }

# Convert to DataFrame
df_teams = pd.DataFrame(list(teams.values()))

# Replace NaN with None
df_teams = df_teams.where(pd.notnull(df_teams), None)

print(df_teams.head())
print("TOTAL TEAMS FOUND:", len(df_teams))

                                team_id market                      name  \
0  0dd26ea7-79fb-4ea8-bf48-7c31108e14a3   None     Kansas State Wildcats
1  d335c726-44aa-4b69-8271-59d42d691cba   None       Iowa State Cyclones
2  deea4446-2bee-4144-96bc-9f1e8ccceee8   None   Nicholls State Colonels
3  5cecc23b-cb18-49f2-85ef-3717063e9dca   None  Incarnate Word Cardinals
4  5f105ef1-4d01-45a5-bfbb-497ee86a8eba   None               UNLV Rebels

  alias conference_id division_id                              venue_id
0   KSU          None        None  c63bd111-d94a-42e1-bd95-cbb74103552c
1   ISU          None        None  98612a89-835b-4ee3-a44d-4841b918262a
2  NICH          None        None  c6323dc8-9582-4a87-8c37-2ffb2a5fb548
3    IW          None        None  cb9b2edd-bb4d-4011-9cce-59bebb202567
4  UNLV          None        None  15e8cfc6-bc73-4767-b357-cb54778e12cf
TOTAL TEAMS FOUND: 317

In [95]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Alys@003!",
    database="ncaafb_db"
)

cursor = conn.cursor()

insert_sql = """
INSERT IGNORE INTO teams (
    team_id, market, name, alias,
    conference_id, division_id, venue_id
) VALUES (%s,%s,%s,%s,%s,%s,%s)
"""

cursor.executemany(insert_sql, df_teams.values.tolist())
conn.commit()

cursor.close()
conn.close()

print("âœ” ALL TEAMS INSERTED")

âœ” ALL TEAMS INSERTED

# LOAD SEASONS

In [46]:
import mysql.connector
import pandas as pd

df = df_seasons.copy()

# Clean
df = df.rename(columns={"season_year": "year"})
df["start_date"] = df["start_date"].dt.date.astype(str)
df["end_date"] = df["end_date"].dt.date.astype(str)
df = df.where(pd.notnull(df), None)

# Keep only required columns
df = df[["season_id", "year", "start_date", "end_date", "status", "type_code"]]

# Connect
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Alys@003!",
    database="ncaafb_db"
)
cursor = conn.cursor()

insert_sql = """
INSERT IGNORE INTO seasons (
    season_id, year, start_date, end_date, status, type_code
) VALUES (%s, %s, %s, %s, %s, %s);
"""

cursor.executemany(insert_sql, df.values.tolist())
conn.commit()

cursor.close()
conn.close()

print("âœ… Loaded seasons Table!")

âœ… Loaded seasons Table!

# LOAD PLAYERS

In [49]:
import pandas as pd

# Copy dataframes
df_roster_copy = df_roster.copy()
df_profile_copy = df_player_profile.copy()

# ---------------------------------------------
# 1. Rename columns from roster to match table
# ---------------------------------------------
df_roster_players = df_roster_copy.rename(columns={
    "player_id": "player_id",
    "player_first_name": "first_name",
    "player_last_name": "last_name",
    "player_abbr_name": "abbr_name",
    "player_birth_place": "birth_place",
    "player_position": "position",
    "player_height": "height",
    "player_weight": "weight",
    "player_status": "status",
    "player_eligibility": "eligibility",
    "team_id": "team_id"
})

# Keep only required columns
df_roster_players = df_roster_players[[
    "player_id", "first_name", "last_name", "abbr_name",
    "birth_place", "position", "height", "weight",
    "status", "eligibility", "team_id"
]]

# ---------------------------------------------
# 2. Merge profile data (priority: profile > roster)
# ---------------------------------------------
df_profile_small = df_profile_copy[[
    "player_id", "first_name", "last_name", "abbr_name",
    "birth_place", "position", "height", "weight",
    "status", "eligibility"
]]

df_players = df_roster_players.merge(
    df_profile_small,
    on="player_id",
    how="left",
    suffixes=("_r", "_p")
)

# ---------------------------------------------
# 3. If profile has better data â†’ overwrite
# ---------------------------------------------
for col in ["first_name", "last_name", "abbr_name", "birth_place",
            "position", "height", "weight", "status", "eligibility"]:
    df_players[col] = df_players[f"{col}_p"].combine_first(df_players[f"{col}_r"])

# Remove merged temp columns
df_players = df_players[[
    "player_id", "first_name", "last_name", "abbr_name",
    "birth_place", "position", "height", "weight",
    "status", "eligibility", "team_id"
]]

# Clean df_players Before Insert
df_players = df_players.where(pd.notnull(df_players), None)


# Insert Into MySQL Using INSERT IGNORE
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Alys@003!",
    database="ncaafb_db"
)
cursor = conn.cursor()

insert_sql = """
INSERT IGNORE INTO players (
    player_id, first_name, last_name, abbr_name,
    birth_place, position, height, weight,
    status, eligibility, team_id
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
"""

cursor.executemany(insert_sql, df_players.values.tolist())
conn.commit()

cursor.close()
conn.close()

print(f"âœ… Loaded {len(df_players)} players into PLAYERS table!")

âœ… Loaded 125 players into PLAYERS table!

C:\Users\Paul\AppData\Local\Temp\ipykernel_17736\3218272768.py:52: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df_players[col] = df_players[f"{col}_p"].combine_first(df_players[f"{col}_r"])
C:\Users\Paul\AppData\Local\Temp\ipykernel_17736\3218272768.py:52: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df_players[col] = df_players[f"{col}_p"].combine_first(df_players[f"{col}_r"])

# PLAYER STATISTICS:

In [85]:
import pandas as pd
import mysql.connector
import numpy as np

# Make a copy
df_stats = df_player_statistics.copy()

# -----------------------------
# Force convert NaN â†’ None
# -----------------------------
df_stats = df_stats.replace({np.nan: None})
df_stats = df_stats.where(pd.notnull(df_stats), None)

# Convert IDs to strings
df_stats["player_id"] = df_stats["player_id"].astype(str)
df_stats["team_id"]   = df_stats["team_id"].astype(str)
df_stats["season_id"] = df_stats["season_id"].astype(str)

# Convert numeric NaN â†’ None
num_cols = [
    "games_played", "games_started",
    "rushing_yards", "rushing_touchdowns",
    "receiving_yards", "receiving_touchdowns",
    "kick_return_yards", "fumbles"
]

for col in num_cols:
    df_stats[col] = df_stats[col].astype(object).where(df_stats[col].notna(), None)

# -----------------------------
# MySQL Insert
# -----------------------------
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Alys@003!",
    database="ncaafb_db"
)
cursor = conn.cursor()

insert_sql = """
INSERT IGNORE INTO player_statistics (
    player_id,
    team_id,
    season_id,
    games_played,
    games_started,
    rushing_yards,
    rushing_touchdowns,
    receiving_yards,
    receiving_touchdowns,
    kick_return_yards,
    fumbles
) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);
"""

cursor.executemany(insert_sql, df_stats.values.tolist())
conn.commit()

cursor.close()
conn.close()

print("âœ… Player_Statistics loaded successfully!")

âœ… Player_Statistics loaded successfully!

# RANKING

In [101]:
import pandas as pd
import mysql.connector
import numpy as np

# ============================================================
# 1) PREPARE DATAFRAME
# ============================================================

df_r = df_rankings.copy()

# ----- Convert datetime -----
df_r["effective_time"] = pd.to_datetime(df_r["effective_time"])

# Safe timezone removal
try:
    df_r["effective_time"] = df_r["effective_time"].dt.tz_convert(None)
except TypeError:
    pass  # Already tz-naive

# ============================================================
# 2) FK LOOKUP â†’ season_id
# ============================================================

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Alys@003!",
    database="ncaafb_db"
)
cursor = conn.cursor()

cursor.execute("SELECT season_id, year FROM seasons")
season_lookup = {row[1]: row[0] for row in cursor.fetchall()}

df_r["season_id"] = df_r["season"].map(season_lookup)

# ============================================================
# 3) ADD MISSING COLUMNS (NOT PROVIDED BY API)
# ============================================================

df_r["prev_rank"] = None
df_r["wins"] = None
df_r["losses"] = None
df_r["ties"] = None

# ============================================================
# 4) CLEANING â€” NaN â†’ None
# ============================================================

df_r = df_r.replace({np.nan: None})
df_r = df_r.where(pd.notnull(df_r), None)

# Convert essential columns to correct datatypes
df_r["poll_id"] = df_r["poll_id"].astype(str)
df_r["poll_name"] = df_r["poll_name"].astype(str)
df_r["team_id"] = df_r["team_id"].astype(str)

# Numeric safe conversion
int_cols = ["week", "rank", "points", "first_place_votes"]
for col in int_cols:
    df_r[col] = df_r[col].astype(object).where(df_r[col].notna(), None)

# ============================================================
# 5) BUILD ROWS (MATCH TABLE COLUMNS EXACTLY)
# ============================================================

rows = []
for _, r in df_r.iterrows():
    rows.append([
        r["poll_id"],
        r["poll_name"],
        r["season_id"],
        r["week"],
        r["effective_time"].to_pydatetime() if r["effective_time"] else None,
        r["team_id"],
        r["rank"],
        r["prev_rank"],
        r["points"],
        r["first_place_votes"],
        r["wins"],
        r["losses"],
        r["ties"]
    ])

# ============================================================
# 6) INSERT INTO DATABASE
# ranking_id is AUTO_INCREMENT â†’ NOT included
# ============================================================

insert_sql = """
INSERT IGNORE INTO rankings (
    poll_id,
    poll_name,
    season_id,
    week,
    effective_time,
    team_id,
    `rank`,
    prev_rank,
    points,
    fp_votes,
    wins,
    losses,
    ties
) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);
"""

cursor.executemany(insert_sql, rows)
conn.commit()

cursor.close()
conn.close()

print(f"âœ… Rankings loaded successfully! Inserted {len(rows)} rows.")

âœ… Rankings loaded successfully! Inserted 25 rows.

# COACHES

In [102]:
import pandas as pd
import mysql.connector
import numpy as np

# ============================================================
# 1) PREPARE DATAFRAME
# ============================================================

df_coaches = df_roster.copy()

# Select only required columns
df_coaches = df_coaches[[
    "coach_id",
    "coach_full_name",
    "coach_position",
    "team_id"
]]

# Remove duplicates (one coach per team)
df_coaches = df_coaches.drop_duplicates(subset=["coach_id"])

# ============================================================
# 2) CLEANING â†’ NaN â†’ None
# ============================================================

df_coaches = df_coaches.replace({np.nan: None})
df_coaches = df_coaches.where(pd.notnull(df_coaches), None)

# Convert ID columns to strings
df_coaches["coach_id"] = df_coaches["coach_id"].astype(str)
df_coaches["team_id"]  = df_coaches["team_id"].astype(str)

# ============================================================
# 3) CONNECT TO MYSQL
# ============================================================

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Alys@003!",
    database="ncaafb_db"
)
cursor = conn.cursor()

# ============================================================
# 4) INSERT SQL (coach_id is PK)
# ============================================================

insert_sql = """
INSERT IGNORE INTO coaches (
    coach_id,
    full_name,
    position,
    team_id
) VALUES (%s, %s, %s, %s);
"""

# Convert dataframe to list of tuples
rows = df_coaches.values.tolist()

# ============================================================
# 5) EXECUTE INSERT
# ============================================================

cursor.executemany(insert_sql, rows)
conn.commit()

cursor.close()
conn.close()

print(f"âœ… Coaches table loaded successfully! Inserted {len(rows)} rows.")

âœ… Coaches table loaded successfully! Inserted 1 rows.

# How many home vs away games were played per team in a season?

In [112]:
import json
import pandas as pd

# ---------------------------------------
# Load JSON
# ---------------------------------------
with open("sched.json", "r", encoding="utf-8") as f:
    data = json.load(f)

season_id = data.get("id")
season_year = data.get("year")

rows = []

# ---------------------------------------------------
# Loop through all weeks and all games
# ---------------------------------------------------
for week in data.get("weeks", []):
    for game in week.get("games", []):

        game_id = game.get("id")

        # ---------- HOME TEAM ----------
        home = game.get("home", {})
        home_team_id = home.get("id")
        home_team_name = home.get("name")

        if home_team_id:
            rows.append({
                "season_id": season_id,
                "season_year": season_year,
                "team_id": home_team_id,
                "team_name": home_team_name,
                "is_home": True,
                "game_id": game_id
            })

        # ---------- AWAY TEAM ----------
        away = game.get("away", {})
        away_team_id = away.get("id")
        away_team_name = away.get("name")

        if away_team_id:
            rows.append({
                "season_id": season_id,
                "season_year": season_year,
                "team_id": away_team_id,
                "team_name": away_team_name,
                "is_home": False,
                "game_id": game_id
            })

# ---------------------------------------------------
# Convert to DataFrame
# ---------------------------------------------------
df_home_away = pd.DataFrame(rows)

print(df_home_away.head())
print(df_home_away.info())


summary = df_home_away.groupby(["team_id", "team_name", "is_home"]) \
                      .size().unstack(fill_value=0) \
                      .rename(columns={True: "home_games", False: "away_games"})

print(summary)

                              season_id  season_year  \
0  754e4990-efc7-11ef-bb2a-5d2d22b9215e         2025
1  754e4990-efc7-11ef-bb2a-5d2d22b9215e         2025
2  754e4990-efc7-11ef-bb2a-5d2d22b9215e         2025
3  754e4990-efc7-11ef-bb2a-5d2d22b9215e         2025
4  754e4990-efc7-11ef-bb2a-5d2d22b9215e         2025

                                team_id                 team_name  is_home  \
0  0dd26ea7-79fb-4ea8-bf48-7c31108e14a3     Kansas State Wildcats     True
1  d335c726-44aa-4b69-8271-59d42d691cba       Iowa State Cyclones    False
2  deea4446-2bee-4144-96bc-9f1e8ccceee8   Nicholls State Colonels     True
3  5cecc23b-cb18-49f2-85ef-3717063e9dca  Incarnate Word Cardinals    False
4  5f105ef1-4d01-45a5-bfbb-497ee86a8eba               UNLV Rebels     True

                                game_id
0  ff0532c8-cc0d-473a-b47f-421eccf4d427
1  ff0532c8-cc0d-473a-b47f-421eccf4d427
2  7770d00f-8df8-4629-935e-d22b8592a6b5
3  7770d00f-8df8-4629-935e-d22b8592a6b5
4  31adc52f-a271-4e44-a252-7f6093d08be6
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3352 entries, 0 to 3351
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   season_id    3352 non-null   object
 1   season_year  3352 non-null   int64
 2   team_id      3352 non-null   object
 3   team_name    3352 non-null   object
 4   is_home      3352 non-null   bool
 5   game_id      3352 non-null   object
dtypes: bool(1), int64(1), object(4)
memory usage: 134.3+ KB
None
is_home                                                             away_games  \
team_id                              team_name
00cbe6eb-c9c2-43d4-8158-6952066f0d2b William & Mary Tribe                    6
00fd8418-0e62-4366-9a2a-d5f72850066c Arizona State Sun Devils                5
018e079b-3848-49bf-8fc6-2d44bbc120a0 Stetson Hatters                         5
02cd61b6-2dad-4b3d-94cd-1c1c3cdbf3ad New Mexico Lobos                        6
034ac81a-311c-49f4-8c45-ddcef7777bdc North Carolina State Wolfpack           5
...                                                                        ...
fbd30b5d-6d84-49f7-abf1-c2c73f9e2458 Princeton Tigers                        5
fce005d9-c29b-4f9c-836b-92a25e765f28 Delaware State Hornets                  6
fefae711-b307-4fd4-b0d2-c9df51f5ae1c Montana State Bobcats                   5
ff330f91-bacc-4c43-b14e-604c58115ebd Cal Poly Mustangs                       7
ffca4209-dbfa-4597-b25a-ed19bb351037 LSU Tigers                              5

is_home                                                             home_games
team_id                              team_name
00cbe6eb-c9c2-43d4-8158-6952066f0d2b William & Mary Tribe                    6
00fd8418-0e62-4366-9a2a-d5f72850066c Arizona State Sun Devils                7
018e079b-3848-49bf-8fc6-2d44bbc120a0 Stetson Hatters                         7
02cd61b6-2dad-4b3d-94cd-1c1c3cdbf3ad New Mexico Lobos                        6
034ac81a-311c-49f4-8c45-ddcef7777bdc North Carolina State Wolfpack           7
...                                                                        ...
fbd30b5d-6d84-49f7-abf1-c2c73f9e2458 Princeton Tigers                        5
fce005d9-c29b-4f9c-836b-92a25e765f28 Delaware State Hornets                  6
fefae711-b307-4fd4-b0d2-c9df51f5ae1c Montana State Bobcats                   7
ff330f91-bacc-4c43-b14e-604c58115ebd Cal Poly Mustangs                       5
ffca4209-dbfa-4597-b25a-ed19bb351037 LSU Tigers                              7

[317 rows x 2 columns]

In [116]:
import mysql.connector
import numpy as np
import pandas as pd

df = df_home_away.copy()

# --- Clean ---
df = df.replace({np.nan: None})
df = df.where(pd.notnull(df), None)

# --- Ensure correct datatypes ---
df["season_id"] = df["season_id"].astype(str)
df["season_year"] = df["season_year"].astype(int)
df["team_id"] = df["team_id"].astype(str)
df["team_name"] = df["team_name"].astype(str)
df["game_id"] = df["game_id"].astype(str)
df["is_home"] = df["is_home"].astype(bool)

# --- FORCE correct column order to match INSERT SQL ---
df = df[[
    "season_id",
    "season_year",
    "team_id",
    "team_name",
    "game_id",
    "is_home"
]]

# --- Connect to MySQL ---
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Alys@003!",
    database="ncaafb_db"
)
cursor = conn.cursor()

# --- Insert SQL ---
insert_sql = """
INSERT INTO team_game_counts (
    season_id,
    season_year,
    team_id,
    team_name,
    game_id,
    is_home
) VALUES (%s, %s, %s, %s, %s, %s);
"""

rows = df.values.tolist()

cursor.executemany(insert_sql, rows)
conn.commit()

cursor.close()
conn.close()

print("âœ… team_game_counts table loaded successfully!")

âœ… team_game_counts table loaded successfully!

# MOST USED VENUES

In [118]:
import json
import pandas as pd

# ---------------------------------------------------------
# 1. Load season_schedule JSON
# ---------------------------------------------------------
with open("sched.json", "r", encoding="utf-8") as f:
    data = json.load(f)

rows = []

# ---------------------------------------------------------
# 2. Loop through weeks â†’ games â†’ venue
# ---------------------------------------------------------
for week in data.get("weeks", []):
    for game in week.get("games", []):

        venue = game.get("venue", {})

        rows.append({
            "season_id": data.get("id"),
            "season_year": data.get("year"),
            "season_type": data.get("type"),

            "game_id": game.get("id"),

            # -------- VENUE FIELDS ----------
            "venue_id": venue.get("id"),
            "venue_name": venue.get("name"),
            "venue_city": venue.get("city"),
            "venue_state": venue.get("state"),
            "venue_country": venue.get("country"),
            "venue_zip": venue.get("zip"),
            "venue_address": venue.get("address"),
            "venue_capacity": venue.get("capacity"),
            "venue_surface": venue.get("surface"),
            "venue_roof_type": venue.get("roof_type"),

            # venue.location
            "venue_lat": (venue.get("location") or {}).get("lat"),
            "venue_lng": (venue.get("location") or {}).get("lng"),
        })

# ---------------------------------------------------------
# 3. Convert to DataFrame
# ---------------------------------------------------------
df_venues = pd.DataFrame(rows)

print("Venue DataFrame created!")
print(df_venues.head())

# ---------------------------------------------------------
# 4. Group to compute MOST USED VENUES
# ---------------------------------------------------------
df_most_used = (
    df_venues.groupby(["venue_id", "venue_name", "venue_city", "venue_state"])
    .size()
    .reset_index(name="games_hosted")
    .sort_values("games_hosted", ascending=False)
)

print("\nMost Used Venues:")
print(df_most_used.head())

Venue DataFrame created!
                              season_id  season_year season_type  \
0  754e4990-efc7-11ef-bb2a-5d2d22b9215e         2025         REG
1  754e4990-efc7-11ef-bb2a-5d2d22b9215e         2025         REG
2  754e4990-efc7-11ef-bb2a-5d2d22b9215e         2025         REG
3  754e4990-efc7-11ef-bb2a-5d2d22b9215e         2025         REG
4  754e4990-efc7-11ef-bb2a-5d2d22b9215e         2025         REG

                                game_id                              venue_id  \
0  ff0532c8-cc0d-473a-b47f-421eccf4d427  c98ace28-f447-46f4-a0d1-af3b94e00cc3
1  7770d00f-8df8-4629-935e-d22b8592a6b5  00828546-ccd4-4f57-89b5-3ceeee59b6df
2  31adc52f-a271-4e44-a252-7f6093d08be6  ca45b851-0906-4762-af04-16a96215ca25
3  e82376a4-dbbf-4d70-afb0-fbd6a54553f4  9c949dc9-c50d-4231-91b2-8b8d9a56e26e
4  dfcb530d-3329-4624-8428-c71eea57c449  0befa6a6-87d9-43ad-b2a3-ecc00bca9a1a

                                venue_name venue_city venue_state  \
0                            Aviva Stadium     Dublin        None
1  Manning Field at John L. Guidry Stadium  Thibodaux          LA
2                        Allegiant Stadium  Las Vegas          NV
3                        Hillsboro Stadium  Hillsboro          OR
4      David Booth Kansas Memorial Stadium   Lawrence          KS

  venue_country venue_zip         venue_address  venue_capacity venue_surface  \
0           IRL      None     62 Lansdowne Road         49000.0          turf
1           USA     70301      906 E 1st Street         10500.0    artificial
2           USA     89118     3333 Al Davis Way         65000.0    artificial
3           USA     97124  4450 NW 229th Avenue          7600.0    artificial
4           USA     66044     1101 Maine Street         50071.0    artificial

  venue_roof_type venue_lat  venue_lng
0         outdoor   53.3353    -6.2284
1         outdoor   29.7851   -90.8024
2            dome   36.0909  -115.1833
3         outdoor   45.5544  -122.9070
4         outdoor   38.9629   -95.2464

Most Used Venues:
                                 venue_id                    venue_name  \
59   280bf6ac-33d9-4e2c-a4bd-af2612f61d00             Hard Rock Stadium
211  bd84c6aa-cafb-4ecf-b21f-44253c99c854          Shell Energy Stadium
131  74d2b383-1122-4b5e-ac70-5c0391d5e760                Nissan Stadium
272  f02c9eb2-0b21-4cea-9f44-7bfac957f7ca  Simmons Bank Liberty Stadium
25   0d3004a2-736f-42c2-973b-31e1391404f4               Arizona Stadium

        venue_city venue_state  games_hosted
59   Miami Gardens          FL            11
211        Houston          TX            11
131      Nashville          TN             9
272        Memphis          TN             8
25          Tucson          AZ             8

In [119]:
import mysql.connector
import numpy as np
import pandas as pd

# ----------------------------------------------------
# df_most_used is already generated earlier
# ----------------------------------------------------
df = df_most_used.copy()

# -----------------------------
# Replace NaN â†’ None
# -----------------------------
df = df.replace({np.nan: None})
df = df.where(pd.notnull(df), None)

# -----------------------------
# Convert fields to correct types
# -----------------------------
df["venue_id"] = df["venue_id"].astype(str)
df["venue_name"] = df["venue_name"].astype(str)
df["venue_city"] = df["venue_city"].astype(str)
df["venue_state"] = df["venue_state"].astype(str)
df["games_hosted"] = df["games_hosted"].astype(int)

# -----------------------------
# Open MySQL Connection
# -----------------------------
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Alys@003!",   # change if needed
    database="ncaafb_db"
)
cursor = conn.cursor()

# -----------------------------
# Insert Query
# -----------------------------
insert_sql = """
INSERT INTO most_used_venues (
    venue_id,
    venue_name,
    venue_city,
    venue_state,
    games_hosted
) VALUES (%s, %s, %s, %s, %s);
"""

# Build list of rows
rows = df.values.tolist()

# Load into DB
cursor.executemany(insert_sql, rows)
conn.commit()

cursor.close()
conn.close()

print("âœ… most_used_venues table loaded successfully!")

âœ… most_used_venues table loaded successfully!

# RANKING IMPROVEMENT AND GAME PERFORMANCE

In [120]:
import pandas as pd
import json

with open("sched.json","r",encoding="utf-8") as f:
    season = json.load(f)

rows = []

for week in season.get("weeks", []):
    week_number = week.get("sequence")
    for game in week.get("games", []):
        
        season_id   = season.get("id")
        season_year = season.get("year")
        game_id     = game.get("id")

        home = game.get("home", {})
        away = game.get("away", {})
        scoring = game.get("scoring", {})

        home_points = scoring.get("home_points")
        away_points = scoring.get("away_points")

        # ---- Home team record
        rows.append({
            "season_id": season_id,
            "season_year": season_year,
            "week": week_number,
            "team_id": home.get("id"),
            "team_name": home.get("name"),
            "points_scored": home_points,
            "game_id": game_id
        })

        # ---- Away team record
        rows.append({
            "season_id": season_id,
            "season_year": season_year,
            "week": week_number,
            "team_id": away.get("id"),
            "team_name": away.get("name"),
            "points_scored": away_points,
            "game_id": game_id
        })

df_game_scores = pd.DataFrame(rows)

In [121]:
import mysql.connector
import numpy as np

df = df_game_scores.replace({np.nan: None})

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Alys@003!",
    database="ncaafb_db"
)
cursor = conn.cursor()

sql = """
INSERT INTO game_scores (
    season_id,
    season_year,
    week,
    team_id,
    points_scored,
    game_id
) VALUES (%s,%s,%s,%s,%s,%s);
"""

cursor.executemany(sql, df[[
    "season_id","season_year","week",
    "team_id","points_scored","game_id"
]].values.tolist())

conn.commit()
cursor.close()
conn.close()

print("âœ” game_scores loaded!")

âœ” game_scores loaded!

In [122]:
pip install statsmodels

Collecting statsmodels
  Downloading statsmodels-0.14.5-cp313-cp313-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: numpy<3,>=1.22.3 in c:\users\paul\appdata\local\programs\python\python313\lib\site-packages (from statsmodels) (2.2.6)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in c:\users\paul\appdata\local\programs\python\python313\lib\site-packages (from statsmodels) (1.16.2)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in c:\users\paul\appdata\local\programs\python\python313\lib\site-packages (from statsmodels) (2.3.3)
Collecting patsy>=0.5.6 (from statsmodels)
  Downloading patsy-1.0.2-py2.py3-none-any.whl.metadata (3.6 kB)
Requirement already satisfied: packaging>=21.3 in c:\users\paul\appdata\local\programs\python\python313\lib\site-packages (from statsmodels) (24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\paul\appdata\local\programs\python\python313\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\paul\appdata\local\programs\python\python313\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\paul\appdata\local\programs\python\python313\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\paul\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas!=2.1.0,>=1.4->statsmodels) (1.17.0)
Downloading statsmodels-0.14.5-cp313-cp313-win_amd64.whl (9.6 MB)
   ---------------------------------------- 0.0/9.6 MB ? eta -:--:--
   -------------- ------------------------- 3.4/9.6 MB 18.5 MB/s eta 0:00:01
   -------------------------------- ------- 7.9/9.6 MB 19.9 MB/s eta 0:00:01
   ---------------------------------------- 9.6/9.6 MB 19.4 MB/s  0:00:00
Downloading patsy-1.0.2-py2.py3-none-any.whl (233 kB)
Installing collected packages: patsy, statsmodels

   ---------------------------------------- 0/2 [patsy]
   ---------------------------------------- 0/2 [patsy]
   ---------------------------------------- 0/2 [patsy]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   -------------------- ------------------- 1/2 [statsmodels]
   ---------------------------------------- 2/2 [statsmodels]

Successfully installed patsy-1.0.2 statsmodels-0.14.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip