In [ ]:
# Ranking

url = "https://api.sportradar.com/ncaafb/trial/v7/en/polls/AP25/2025/01/rankings.json"

headers = {
    "accept": "application/json",
    "x-api-key": "n2TZzOYtgSSCFivhd5XuJBDabmRWPZC45zwo8Z5T"
}

response = requests.get(url, headers=headers)

# Convert to Python dict
data = response.json()

# Export to JSON file
with open("ranking.json", "w", encoding="utf-8") as f:
    json.dump(data, f, indent=4)

print("JSON file saved as ranking.json")

In [12]:
import pandas as pd
import json

# Load JSON file into a variable
with open("ranking.json", "r", encoding="utf-8") as f:
    rankingdata = json.load(f)


rows = []

for team in rankingdata.get("rankings", []):
    rows.append({
        "poll_id": rankingdata["poll"].get("id"),
        "poll_name": rankingdata["poll"].get("name"),
        "poll_alias": rankingdata["poll"].get("alias"),
        "season": rankingdata.get("season"),
        "week": rankingdata.get("week"),
        "effective_time": rankingdata.get("effective_time"),

        "team_id": team.get("id"),
        "team_name": team.get("name"),
        "team_market": team.get("market"),
        "rank": team.get("rank"),
        "points": team.get("points"),
        "first_place_votes": team.get("fp_votes")
    })


df_rankings = pd.DataFrame(rows)

# df_rankings.info()

df_rankings

candidate_rows = []

for c in rankingdata.get("candidates", []):
    candidate_rows.append({
        # "poll_id": rankingdata["poll"].get("id"),
        # "poll_name": rankingdata["poll"].get("name"),
        # "poll_alias": rankingdata["poll"].get("alias"),
        # "season": rankingdata.get("season"),
        # "week": rankingdata.get("week"),
        # "effective_time": rankingdata.get("effective_time"),

        "team_id": c.get("id"),
        "team_name": c.get("name"),
        "team_market": c.get("market"),
        "votes": c.get("votes")
    })

df_candidates = pd.DataFrame(candidate_rows)
df_candidates

df_candidates.info()
df_rankings.info()

df_candidates.to_csv("candidates.csv", index=False, encoding="utf-8")
df_rankings.to_csv("rankings.csv", index=False, encoding="utf-8")

df_rankings
# df_candidates

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   team_id      24 non-null     object
 1   team_name    24 non-null     object
 2   team_market  24 non-null     object
 3   votes        24 non-null     int64
dtypes: int64(1), object(3)
memory usage: 900.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   poll_id            25 non-null     object
 1   poll_name          25 non-null     object
 2   poll_alias         25 non-null     object
 3   season             25 non-null     int64
 4   week               25 non-null     int64
 5   effective_time     25 non-null     object
 6   team_id            25 non-null     object
 7   team_name          25 non-null     object
 8   team_market        25 non-null     object
 9   rank               25 non-null     int64
 10  points             25 non-null     int64
 11  first_place_votes  25 non-null     int64
dtypes: int64(5), object(7)
memory usage: 2.5+ KB

,poll_id,poll_name,poll_alias,season,week,effective_time,team_id,team_name,team_market,rank,points,first_place_votes
0,aef92d2e-6f2d-462a-972b-f38859ddb96f,Associated Press Top 25,AP25,2025,1,2025-08-11T16:00:00+00:00,ae68bc50-4135-47b5-b2f1-03d0669e54c8,Longhorns,Texas,1,1552,25
1,aef92d2e-6f2d-462a-972b-f38859ddb96f,Associated Press Top 25,AP25,2025,1,2025-08-11T16:00:00+00:00,eeb3ce19-6ddd-4c91-afab-811c6cc81974,Nittany Lions,Penn State,2,1547,23
2,aef92d2e-6f2d-462a-972b-f38859ddb96f,Associated Press Top 25,AP25,2025,1,2025-08-11T16:00:00+00:00,9a6d6f3f-021e-4ddd-8fac-ac4766239d87,Buckeyes,Ohio State,3,1472,11
3,aef92d2e-6f2d-462a-972b-f38859ddb96f,Associated Press Top 25,AP25,2025,1,2025-08-11T16:00:00+00:00,95404613-f4f0-4280-ac27-85419215f8d1,Tigers,Clemson,4,1398,4
4,aef92d2e-6f2d-462a-972b-f38859ddb96f,Associated Press Top 25,AP25,2025,1,2025-08-11T16:00:00+00:00,2eef738d-c637-4b12-b8df-4b79efcce71e,Bulldogs,Georgia,5,1331,1
5,aef92d2e-6f2d-462a-972b-f38859ddb96f,Associated Press Top 25,AP25,2025,1,2025-08-11T16:00:00+00:00,d7f19bff-74e7-4b71-a221-12dfeb144fd8,Fighting Irish,Notre Dame,6,1325,0
6,aef92d2e-6f2d-462a-972b-f38859ddb96f,Associated Press Top 25,AP25,2025,1,2025-08-11T16:00:00+00:00,5c218a3b-a013-4037-97b6-603c9502b701,Ducks,Oregon,7,1236,1
7,aef92d2e-6f2d-462a-972b-f38859ddb96f,Associated Press Top 25,AP25,2025,1,2025-08-11T16:00:00+00:00,19775492-f1eb-4bc5-9e15-078ebd689c0f,Crimson Tide,Alabama,8,1179,0
8,aef92d2e-6f2d-462a-972b-f38859ddb96f,Associated Press Top 25,AP25,2025,1,2025-08-11T16:00:00+00:00,ffca4209-dbfa-4597-b25a-ed19bb351037,Tigers,LSU,9,1174,0
9,aef92d2e-6f2d-462a-972b-f38859ddb96f,Associated Press Top 25,AP25,2025,1,2025-08-11T16:00:00+00:00,2f475a40-df87-43a7-b8a9-c36a43edff21,Hurricanes,Miami (FL),10,889,0
10,aef92d2e-6f2d-462a-972b-f38859ddb96f,Associated Press Top 25,AP25,2025,1,2025-08-11T16:00:00+00:00,00fd8418-0e62-4366-9a2a-d5f72850066c,Sun Devils,Arizona State,11,791,0
11,aef92d2e-6f2d-462a-972b-f38859ddb96f,Associated Press Top 25,AP25,2025,1,2025-08-11T16:00:00+00:00,2d824a5f-e706-45b8-9d20-434ed5dd5c2f,Fighting Illini,Illinois,12,713,0
12,aef92d2e-6f2d-462a-972b-f38859ddb96f,Associated Press Top 25,AP25,2025,1,2025-08-11T16:00:00+00:00,7b1dbcdb-34b2-479e-9b6b-4c7221e7f743,Gamecocks,South Carolina,13,667,0
13,aef92d2e-6f2d-462a-972b-f38859ddb96f,Associated Press Top 25,AP25,2025,1,2025-08-11T16:00:00+00:00,d3e8c416-e643-4d5e-be9e-c598a150b234,Wolverines,Michigan,14,662,0
14,aef92d2e-6f2d-462a-972b-f38859ddb96f,Associated Press Top 25,AP25,2025,1,2025-08-11T16:00:00+00:00,c765cbff-99d8-4c43-8f6b-e49577ca18fa,Gators,Florida,15,626,0
15,aef92d2e-6f2d-462a-972b-f38859ddb96f,Associated Press Top 25,AP25,2025,1,2025-08-11T16:00:00+00:00,619c5384-3660-44ac-b2ad-597ccb3854c7,Mustangs,SMU,16,565,0
16,aef92d2e-6f2d-462a-972b-f38859ddb96f,Associated Press Top 25,AP25,2025,1,2025-08-11T16:00:00+00:00,0dd26ea7-79fb-4ea8-bf48-7c31108e14a3,Wildcats,Kansas State,17,512,0
17,aef92d2e-6f2d-462a-972b-f38859ddb96f,Associated Press Top 25,AP25,2025,1,2025-08-11T16:00:00+00:00,242f21d8-7372-4359-a04f-4d467ead22d6,Sooners,Oklahoma,18,463,0
18,aef92d2e-6f2d-462a-972b-f38859ddb96f,Associated Press Top 25,AP25,2025,1,2025-08-11T16:00:00+00:00,d5199a36-7f26-4c3b-be48-9599039e232c,Aggies,Texas A&M,19,434,0
19,aef92d2e-6f2d-462a-972b-f38859ddb96f,Associated Press Top 25,AP25,2025,1,2025-08-11T16:00:00+00:00,fa0eb091-8e35-49c7-b00f-269794a99a61,Hoosiers,Indiana,20,423,0
20,aef92d2e-6f2d-462a-972b-f38859ddb96f,Associated Press Top 25,AP25,2025,1,2025-08-11T16:00:00+00:00,e3df6700-2881-4b02-a170-f397bb5718a9,Rebels,Ole Miss,21,370,0
21,aef92d2e-6f2d-462a-972b-f38859ddb96f,Associated Press Top 25,AP25,2025,1,2025-08-11T16:00:00+00:00,d335c726-44aa-4b69-8271-59d42d691cba,Cyclones,Iowa State,22,309,0
22,aef92d2e-6f2d-462a-972b-f38859ddb96f,Associated Press Top 25,AP25,2025,1,2025-08-11T16:00:00+00:00,22083fa4-8d9c-4ccc-8c33-cda772954099,Red Raiders,Texas Tech,23,274,0
23,aef92d2e-6f2d-462a-972b-f38859ddb96f,Associated Press Top 25,AP25,2025,1,2025-08-11T16:00:00+00:00,9ecb9f6b-df4a-4a92-aaa4-5d50a5286bdd,Volunteers,Tennessee,24,192,0
24,aef92d2e-6f2d-462a-972b-f38859ddb96f,Associated Press Top 25,AP25,2025,1,2025-08-11T16:00:00+00:00,35aa5295-ad07-4b95-aad2-63d1d5bf9009,Broncos,Boise State,25,191,0

In [13]:
df_candidates

                                 team_id       team_name    team_market  votes
0   627b2e5c-3ba5-496e-9f9b-1c620247c1b7         Cougars            BYU    156
1   28e1dbb0-1295-42ca-bda1-fddb122aed2b            Utes           Utah    144
2   8b8225f5-eb09-48ea-9120-cef081918b7a           Bears         Baylor    132
3   1e8edb90-ea5e-4663-9a65-a30e51583711       Cardinals     Louisville     90
4   8f496f34-14e3-4ca7-958b-53f6da0b74d6         Trojans            USC     64
5   5ff038e1-6e3b-4cbe-90b8-751f783cd7a9  Yellow Jackets   Georgia Tech     63
6   772536c7-c3e8-40d1-ac6e-232d719dc052          Tigers       Missouri     33
7   98833e65-ab72-482d-b3c0-13f8656629c0     Cornhuskers       Nebraska     23
8   6551124f-312e-49c8-87c4-d1cba14133c7      Green Wave         Tulane     23
9   5f105ef1-4d01-45a5-bfbb-497ee86a8eba          Rebels           UNLV     21
10  692e1f0e-3c3a-4223-b2cf-7bbc58cf4977         Rockets         Toledo     13
11  e5bbd1bd-0d65-4581-8d9c-58b33fd5ce62          Tigers         Auburn     10
12  7c3a4847-5a1d-422f-b15b-dcc5f8cc5e24          Tigers        Memphis      9
13  b59ad9ae-b8ec-4f8e-9bd2-ec5b4af41e57           Dukes  James Madison      9
14  1c792ab1-d640-48f2-b796-6a81c7b14eaf       Seminoles  Florida State      8
15  deb0920f-c4ca-414d-be4b-ca779e353bf0     Blue Devils           Duke      6
16  4318b2b7-0b61-4509-b776-001b08c09dcc          Flames        Liberty      5
17  a2ee495d-37c7-45ac-ac3d-d3a492a219c1        Hawkeyes           Iowa      5
18  b1ff8076-e373-4b6a-ab0f-7f8f86bf0370      Midshipmen           Navy      5
19  a09e634d-39a8-4aa8-81a4-7337580a31f4    Horned Frogs            TCU      4
20  a5ef8db1-5d26-4d7e-af22-b21e380c16d2        Panthers     Pittsburgh      3
21  d23058c1-7aaa-44cd-995b-b4be7078df22   Black Knights           Army      2
22  2dec939a-f303-43ac-964d-37e81f75e286   Ragin' Cajuns      Louisiana      1
23  a18d7cf8-1263-45f2-a938-04032d2f7cf5       Buffaloes       Colorado      1

In [14]:
def explore_df(df, name="DataFrame"):
    print(f"\n==============================")
    print(f"ðŸ“Š EXPLORING: {name}")
    print("==============================")

    # Shape
    print(f"\nðŸ”¸ Shape: {df.shape[0]} rows Ã— {df.shape[1]} columns")

    # Columns
    print("\nðŸ”¸ Columns:")
    print(df.columns.tolist())

    # Data types
    print("\nðŸ”¸ Data Types:")
    print(df.dtypes)

    # Missing values
    print("\nðŸ”¸ Missing Values:")
    print(df.isnull().sum())

    # Memory usage
    print("\nðŸ”¸ Memory Usage:")
    print(df.memory_usage(deep=True))

    # Head
    print("\nðŸ”¸ First 5 Rows:")
    print(df.head())

    # Tail
    print("\nðŸ”¸ Last 5 Rows:")
    print(df.tail())

    # Unique counts
    print("\nðŸ”¸ Unique Values Per Column:")
    print(df.nunique())

    # Sample values per column
    print("\nðŸ”¸ Sample Values Per Column:")
    for col in df.columns:
        print(f"  - {col}: {df[col].dropna().unique()[:5]}")

    print("\n==============================\n")

In [15]:
explore_df(df_rankings, name="Rankings DataFrame")

==============================
ðŸ“Š EXPLORING: Rankings DataFrame
==============================

ðŸ”¸ Shape: 25 rows Ã— 12 columns

ðŸ”¸ Columns:
['poll_id', 'poll_name', 'poll_alias', 'season', 'week', 'effective_time', 'team_id', 'team_name', 'team_market', 'rank', 'points', 'first_place_votes']

ðŸ”¸ Data Types:
poll_id              object
poll_name            object
poll_alias           object
season                int64
week                  int64
effective_time       object
team_id              object
team_name            object
team_market          object
rank                  int64
points                int64
first_place_votes     int64
dtype: object

ðŸ”¸ Missing Values:
poll_id              0
poll_name            0
poll_alias           0
season               0
week                 0
effective_time       0
team_id              0
team_name            0
team_market          0
rank                 0
points               0
first_place_votes    0
dtype: int64

ðŸ”¸ Memory Usage:
Index                 132
poll_id              2125
poll_name            1800
poll_alias           1325
season                200
week                  200
effective_time       1850
team_id              2125
team_name            1445
team_market          1437
rank                  200
points                200
first_place_votes     200
dtype: int64

ðŸ”¸ First 5 Rows:
                                poll_id                poll_name poll_alias  \
0  aef92d2e-6f2d-462a-972b-f38859ddb96f  Associated Press Top 25       AP25
1  aef92d2e-6f2d-462a-972b-f38859ddb96f  Associated Press Top 25       AP25
2  aef92d2e-6f2d-462a-972b-f38859ddb96f  Associated Press Top 25       AP25
3  aef92d2e-6f2d-462a-972b-f38859ddb96f  Associated Press Top 25       AP25
4  aef92d2e-6f2d-462a-972b-f38859ddb96f  Associated Press Top 25       AP25

   season  week             effective_time  \
0    2025     1  2025-08-11T16:00:00+00:00
1    2025     1  2025-08-11T16:00:00+00:00
2    2025     1  2025-08-11T16:00:00+00:00
3    2025     1  2025-08-11T16:00:00+00:00
4    2025     1  2025-08-11T16:00:00+00:00

                                team_id      team_name team_market  rank  \
0  ae68bc50-4135-47b5-b2f1-03d0669e54c8      Longhorns       Texas     1
1  eeb3ce19-6ddd-4c91-afab-811c6cc81974  Nittany Lions  Penn State     2
2  9a6d6f3f-021e-4ddd-8fac-ac4766239d87       Buckeyes  Ohio State     3
3  95404613-f4f0-4280-ac27-85419215f8d1         Tigers     Clemson     4
4  2eef738d-c637-4b12-b8df-4b79efcce71e       Bulldogs     Georgia     5

   points  first_place_votes
0    1552                 25
1    1547                 23
2    1472                 11
3    1398                  4
4    1331                  1

ðŸ”¸ Last 5 Rows:
                                 poll_id                poll_name poll_alias  \
20  aef92d2e-6f2d-462a-972b-f38859ddb96f  Associated Press Top 25       AP25
21  aef92d2e-6f2d-462a-972b-f38859ddb96f  Associated Press Top 25       AP25
22  aef92d2e-6f2d-462a-972b-f38859ddb96f  Associated Press Top 25       AP25
23  aef92d2e-6f2d-462a-972b-f38859ddb96f  Associated Press Top 25       AP25
24  aef92d2e-6f2d-462a-972b-f38859ddb96f  Associated Press Top 25       AP25

    season  week             effective_time  \
20    2025     1  2025-08-11T16:00:00+00:00
21    2025     1  2025-08-11T16:00:00+00:00
22    2025     1  2025-08-11T16:00:00+00:00
23    2025     1  2025-08-11T16:00:00+00:00
24    2025     1  2025-08-11T16:00:00+00:00

                                 team_id    team_name  team_market  rank  \
20  e3df6700-2881-4b02-a170-f397bb5718a9       Rebels     Ole Miss    21
21  d335c726-44aa-4b69-8271-59d42d691cba     Cyclones   Iowa State    22
22  22083fa4-8d9c-4ccc-8c33-cda772954099  Red Raiders   Texas Tech    23
23  9ecb9f6b-df4a-4a92-aaa4-5d50a5286bdd   Volunteers    Tennessee    24
24  35aa5295-ad07-4b95-aad2-63d1d5bf9009      Broncos  Boise State    25

    points  first_place_votes
20     370                  0
21     309                  0
22     274                  0
23     192                  0
24     191                  0

ðŸ”¸ Unique Values Per Column:
poll_id               1
poll_name             1
poll_alias            1
season                1
week                  1
effective_time        1
team_id              25
team_name            24
team_market          25
rank                 25
points               25
first_place_votes     6
dtype: int64

ðŸ”¸ Sample Values Per Column:
  - poll_id: ['aef92d2e-6f2d-462a-972b-f38859ddb96f']
  - poll_name: ['Associated Press Top 25']
  - poll_alias: ['AP25']
  - season: [2025]
  - week: [1]
  - effective_time: ['2025-08-11T16:00:00+00:00']
  - team_id: ['ae68bc50-4135-47b5-b2f1-03d0669e54c8'
 'eeb3ce19-6ddd-4c91-afab-811c6cc81974'
 '9a6d6f3f-021e-4ddd-8fac-ac4766239d87'
 '95404613-f4f0-4280-ac27-85419215f8d1'
 '2eef738d-c637-4b12-b8df-4b79efcce71e']
  - team_name: ['Longhorns' 'Nittany Lions' 'Buckeyes' 'Tigers' 'Bulldogs']
  - team_market: ['Texas' 'Penn State' 'Ohio State' 'Clemson' 'Georgia']
  - rank: [1 2 3 4 5]
  - points: [1552 1547 1472 1398 1331]
  - first_place_votes: [25 23 11  4  1]

==============================

In [16]:
df_rankings["effective_time"] = pd.to_datetime(df_rankings["effective_time"])

In [17]:
df_rankings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   poll_id            25 non-null     object
 1   poll_name          25 non-null     object
 2   poll_alias         25 non-null     object
 3   season             25 non-null     int64
 4   week               25 non-null     int64
 5   effective_time     25 non-null     datetime64[ns, UTC]
 6   team_id            25 non-null     object
 7   team_name          25 non-null     object
 8   team_market        25 non-null     object
 9   rank               25 non-null     int64
 10  points             25 non-null     int64
 11  first_place_votes  25 non-null     int64
dtypes: datetime64[ns, UTC](1), int64(5), object(6)
memory usage: 2.5+ KB

In [18]:
explore_df(df_candidates, name="Rankings DataFrame")

==============================
ðŸ“Š EXPLORING: Rankings DataFrame
==============================

ðŸ”¸ Shape: 24 rows Ã— 4 columns

ðŸ”¸ Columns:
['team_id', 'team_name', 'team_market', 'votes']

ðŸ”¸ Data Types:
team_id        object
team_name      object
team_market    object
votes           int64
dtype: object

ðŸ”¸ Missing Values:
team_id        0
team_name      0
team_market    0
votes          0
dtype: int64

ðŸ”¸ Memory Usage:
Index           132
team_id        2040
team_name      1378
team_market    1338
votes           192
dtype: int64

ðŸ”¸ First 5 Rows:
                                team_id  team_name team_market  votes
0  627b2e5c-3ba5-496e-9f9b-1c620247c1b7    Cougars         BYU    156
1  28e1dbb0-1295-42ca-bda1-fddb122aed2b       Utes        Utah    144
2  8b8225f5-eb09-48ea-9120-cef081918b7a      Bears      Baylor    132
3  1e8edb90-ea5e-4663-9a65-a30e51583711  Cardinals  Louisville     90
4  8f496f34-14e3-4ca7-958b-53f6da0b74d6    Trojans         USC     64

ðŸ”¸ Last 5 Rows:
                                 team_id      team_name team_market  votes
19  a09e634d-39a8-4aa8-81a4-7337580a31f4   Horned Frogs         TCU      4
20  a5ef8db1-5d26-4d7e-af22-b21e380c16d2       Panthers  Pittsburgh      3
21  d23058c1-7aaa-44cd-995b-b4be7078df22  Black Knights        Army      2
22  2dec939a-f303-43ac-964d-37e81f75e286  Ragin' Cajuns   Louisiana      1
23  a18d7cf8-1263-45f2-a938-04032d2f7cf5      Buffaloes    Colorado      1

ðŸ”¸ Unique Values Per Column:
team_id        24
team_name      22
team_market    24
votes          19
dtype: int64

ðŸ”¸ Sample Values Per Column:
  - team_id: ['627b2e5c-3ba5-496e-9f9b-1c620247c1b7'
 '28e1dbb0-1295-42ca-bda1-fddb122aed2b'
 '8b8225f5-eb09-48ea-9120-cef081918b7a'
 '1e8edb90-ea5e-4663-9a65-a30e51583711'
 '8f496f34-14e3-4ca7-958b-53f6da0b74d6']
  - team_name: ['Cougars' 'Utes' 'Bears' 'Cardinals' 'Trojans']
  - team_market: ['BYU' 'Utah' 'Baylor' 'Louisville' 'USC']
  - votes: [156 144 132  90  64]

==============================

In [19]:
df_candidates.to_csv("candidates.csv", index=False, encoding="utf-8")
df_rankings.to_csv("rankings.csv", index=False, encoding="utf-8")

In [20]:
df_rankings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   poll_id            25 non-null     object
 1   poll_name          25 non-null     object
 2   poll_alias         25 non-null     object
 3   season             25 non-null     int64
 4   week               25 non-null     int64
 5   effective_time     25 non-null     datetime64[ns, UTC]
 6   team_id            25 non-null     object
 7   team_name          25 non-null     object
 8   team_market        25 non-null     object
 9   rank               25 non-null     int64
 10  points             25 non-null     int64
 11  first_place_votes  25 non-null     int64
dtypes: datetime64[ns, UTC](1), int64(5), object(6)
memory usage: 2.5+ KB