In [ ]:
import requests
import json


url = "https://api.sportradar.com/ncaafb/trial/v7/en/league/seasons.json"

headers = {
    "accept": "application/json",
    "x-api-key": "n2TZzOYtgSSCFivhd5XuJBDabmRWPZC45zwo8Z5T"
}

response = requests.get(url, headers=headers)

# Convert to Python dict
data = response.json()

# Export to JSON file
with open("seasons.json", "w", encoding="utf-8") as f:
    json.dump(data, f, indent=4)

print("JSON file saved as seasons.json")

In [1]:
import pandas as pd
import json

# Load JSON file into a variable
with open("seasons.json", "r", encoding="utf-8") as f:
    seasons = json.load(f)
    data = seasons 


rows = []

league = data.get("league", {})

for season in data.get("seasons", []):

    row = {
        # ----- LEAGUE INFO -----
        "league_id": league.get("id"),
        "league_name": league.get("name"),
        "league_alias": league.get("alias"),

        # ----- SEASON INFO -----
        "season_id": season.get("id"),
        "season_year": season.get("year"),
        "start_date": season.get("start_date"),
        "end_date": season.get("end_date"),
        "status": season.get("status"),

        # ----- FLATTEN NESTED "type" -----
        "type_code": season.get("type", {}).get("code"),
    }

    rows.append(row)

# Convert to DataFrame
df_seasons = pd.DataFrame(rows)

# Show complete output
pd.set_option("display.max_columns", None)

df_seasons.to_csv("seasons.csv", index=False, encoding="utf-8")
df_seasons.info()
df_seasons

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   league_id     13 non-null     object
 1   league_name   13 non-null     object
 2   league_alias  13 non-null     object
 3   season_id     13 non-null     object
 4   season_year   13 non-null     int64
 5   start_date    13 non-null     object
 6   end_date      13 non-null     object
 7   status        13 non-null     object
 8   type_code     13 non-null     object
dtypes: int64(1), object(8)
memory usage: 1.0+ KB

,league_id,league_name,league_alias,season_id,season_year,start_date,end_date,status,type_code
0,26c1246a-2fc3-4b7e-8999-1685d3ab4676,NCAA Football,NCAAFB,7010df8f-1e08-4021-91b8-ed09676c33de,2013,2013-08-29,2014-01-14,closed,REG
1,26c1246a-2fc3-4b7e-8999-1685d3ab4676,NCAA Football,NCAAFB,b07de423-006d-4ae2-b9ed-532841ab1c4c,2014,2014-08-23,2015-01-19,closed,REG
2,26c1246a-2fc3-4b7e-8999-1685d3ab4676,NCAA Football,NCAAFB,23e2cfa5-e19f-4ec1-bc60-b568212d91e5,2015,2015-08-29,2016-01-25,closed,REG
3,26c1246a-2fc3-4b7e-8999-1685d3ab4676,NCAA Football,NCAAFB,9ff91613-d2c8-4922-9f51-2ce706f5ac0b,2016,2016-08-27,2017-01-16,closed,REG
4,26c1246a-2fc3-4b7e-8999-1685d3ab4676,NCAA Football,NCAAFB,8e84b9ee-9b8e-45ef-b61f-0dfd26ff37e6,2017,2017-08-26,2018-01-15,closed,REG
5,26c1246a-2fc3-4b7e-8999-1685d3ab4676,NCAA Football,NCAAFB,34e9387d-2422-40dd-b289-572245995f35,2018,2018-08-25,2019-01-14,closed,REG
6,26c1246a-2fc3-4b7e-8999-1685d3ab4676,NCAA Football,NCAAFB,a89f105a-fe49-4331-b638-4ee12dae0493,2019,2019-08-24,2020-01-20,closed,REG
7,26c1246a-2fc3-4b7e-8999-1685d3ab4676,NCAA Football,NCAAFB,17d91be7-4bd3-4407-80e2-eca205c9284a,2020,2020-08-29,2021-05-24,closed,REG
8,26c1246a-2fc3-4b7e-8999-1685d3ab4676,NCAA Football,NCAAFB,d1132b13-2c29-4e6d-9011-b627c7fd9a17,2021,2021-08-28,2022-01-24,closed,REG
9,26c1246a-2fc3-4b7e-8999-1685d3ab4676,NCAA Football,NCAAFB,ff53e5e4-10ef-4842-a0b7-b489956fa07e,2022,2022-08-27,2023-01-16,closed,REG
10,26c1246a-2fc3-4b7e-8999-1685d3ab4676,NCAA Football,NCAAFB,f58c6dbf-9dfe-487e-8b0b-af66af887206,2023,2023-08-26,2024-01-15,closed,REG
11,26c1246a-2fc3-4b7e-8999-1685d3ab4676,NCAA Football,NCAAFB,908fbc20-f5c7-11ee-a306-c311afc28263,2024,2024-08-24,2025-01-27,closed,REG
12,26c1246a-2fc3-4b7e-8999-1685d3ab4676,NCAA Football,NCAAFB,754e4990-efc7-11ef-bb2a-5d2d22b9215e,2025,2025-08-23,2026-01-26,inprogress,REG

In [2]:
def explore_df(df, name="DataFrame"):
    print(f"\n==============================")
    print(f"ðŸ“Š EXPLORING: {name}")
    print("==============================")

    # Shape
    print(f"\nðŸ”¸ Shape: {df.shape[0]} rows Ã— {df.shape[1]} columns")

    # Columns
    print("\nðŸ”¸ Columns:")
    print(df.columns.tolist())

    # Data types
    print("\nðŸ”¸ Data Types:")
    print(df.dtypes)

    # Missing values
    print("\nðŸ”¸ Missing Values:")
    print(df.isnull().sum())

    # Memory usage
    print("\nðŸ”¸ Memory Usage:")
    print(df.memory_usage(deep=True))

    # Head
    print("\nðŸ”¸ First 5 Rows:")
    print(df.head())

    # Tail
    print("\nðŸ”¸ Last 5 Rows:")
    print(df.tail())

    # Unique counts
    print("\nðŸ”¸ Unique Values Per Column:")
    print(df.nunique())

    # Sample values per column
    print("\nðŸ”¸ Sample Values Per Column:")
    for col in df.columns:
        print(f"  - {col}: {df[col].dropna().unique()[:5]}")

    print("\n==============================\n")

In [3]:
explore_df(df_seasons, name="Seasons DataFrame")

==============================
ðŸ“Š EXPLORING: Seasons DataFrame
==============================

ðŸ”¸ Shape: 13 rows Ã— 9 columns

ðŸ”¸ Columns:
['league_id', 'league_name', 'league_alias', 'season_id', 'season_year', 'start_date', 'end_date', 'status', 'type_code']

ðŸ”¸ Data Types:
league_id       object
league_name     object
league_alias    object
season_id       object
season_year      int64
start_date      object
end_date        object
status          object
type_code       object
dtype: object

ðŸ”¸ Missing Values:
league_id       0
league_name     0
league_alias    0
season_id       0
season_year     0
start_date      0
end_date        0
status          0
type_code       0
dtype: int64

ðŸ”¸ Memory Usage:
Index            132
league_id       1105
league_name      806
league_alias     715
season_id       1105
season_year      104
start_date       767
end_date         767
status           719
type_code        676
dtype: int64

ðŸ”¸ First 5 Rows:
                              league_id    league_name league_alias  \
0  26c1246a-2fc3-4b7e-8999-1685d3ab4676  NCAA Football       NCAAFB
1  26c1246a-2fc3-4b7e-8999-1685d3ab4676  NCAA Football       NCAAFB
2  26c1246a-2fc3-4b7e-8999-1685d3ab4676  NCAA Football       NCAAFB
3  26c1246a-2fc3-4b7e-8999-1685d3ab4676  NCAA Football       NCAAFB
4  26c1246a-2fc3-4b7e-8999-1685d3ab4676  NCAA Football       NCAAFB

                              season_id  season_year  start_date    end_date  \
0  7010df8f-1e08-4021-91b8-ed09676c33de         2013  2013-08-29  2014-01-14
1  b07de423-006d-4ae2-b9ed-532841ab1c4c         2014  2014-08-23  2015-01-19
2  23e2cfa5-e19f-4ec1-bc60-b568212d91e5         2015  2015-08-29  2016-01-25
3  9ff91613-d2c8-4922-9f51-2ce706f5ac0b         2016  2016-08-27  2017-01-16
4  8e84b9ee-9b8e-45ef-b61f-0dfd26ff37e6         2017  2017-08-26  2018-01-15

   status type_code
0  closed       REG
1  closed       REG
2  closed       REG
3  closed       REG
4  closed       REG

ðŸ”¸ Last 5 Rows:
                               league_id    league_name league_alias  \
8   26c1246a-2fc3-4b7e-8999-1685d3ab4676  NCAA Football       NCAAFB
9   26c1246a-2fc3-4b7e-8999-1685d3ab4676  NCAA Football       NCAAFB
10  26c1246a-2fc3-4b7e-8999-1685d3ab4676  NCAA Football       NCAAFB
11  26c1246a-2fc3-4b7e-8999-1685d3ab4676  NCAA Football       NCAAFB
12  26c1246a-2fc3-4b7e-8999-1685d3ab4676  NCAA Football       NCAAFB

                               season_id  season_year  start_date    end_date  \
8   d1132b13-2c29-4e6d-9011-b627c7fd9a17         2021  2021-08-28  2022-01-24
9   ff53e5e4-10ef-4842-a0b7-b489956fa07e         2022  2022-08-27  2023-01-16
10  f58c6dbf-9dfe-487e-8b0b-af66af887206         2023  2023-08-26  2024-01-15
11  908fbc20-f5c7-11ee-a306-c311afc28263         2024  2024-08-24  2025-01-27
12  754e4990-efc7-11ef-bb2a-5d2d22b9215e         2025  2025-08-23  2026-01-26

        status type_code
8       closed       REG
9       closed       REG
10      closed       REG
11      closed       REG
12  inprogress       REG

ðŸ”¸ Unique Values Per Column:
league_id        1
league_name      1
league_alias     1
season_id       13
season_year     13
start_date      13
end_date        13
status           2
type_code        1
dtype: int64

ðŸ”¸ Sample Values Per Column:
  - league_id: ['26c1246a-2fc3-4b7e-8999-1685d3ab4676']
  - league_name: ['NCAA Football']
  - league_alias: ['NCAAFB']
  - season_id: ['7010df8f-1e08-4021-91b8-ed09676c33de'
 'b07de423-006d-4ae2-b9ed-532841ab1c4c'
 '23e2cfa5-e19f-4ec1-bc60-b568212d91e5'
 '9ff91613-d2c8-4922-9f51-2ce706f5ac0b'
 '8e84b9ee-9b8e-45ef-b61f-0dfd26ff37e6']
  - season_year: [2013 2014 2015 2016 2017]
  - start_date: ['2013-08-29' '2014-08-23' '2015-08-29' '2016-08-27' '2017-08-26']
  - end_date: ['2014-01-14' '2015-01-19' '2016-01-25' '2017-01-16' '2018-01-15']
  - status: ['closed' 'inprogress']
  - type_code: ['REG']

==============================

In [4]:
df_seasons["start_date"] = pd.to_datetime(df_seasons["start_date"])
df_seasons["end_date"] = pd.to_datetime(df_seasons["end_date"])
df_seasons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   league_id     13 non-null     object
 1   league_name   13 non-null     object
 2   league_alias  13 non-null     object
 3   season_id     13 non-null     object
 4   season_year   13 non-null     int64
 5   start_date    13 non-null     datetime64[ns]
 6   end_date      13 non-null     datetime64[ns]
 7   status        13 non-null     object
 8   type_code     13 non-null     object
dtypes: datetime64[ns](2), int64(1), object(6)
memory usage: 1.0+ KB

In [5]:
df_seasons[df_seasons.duplicated("season_id")]

Empty DataFrame
Columns: [league_id, league_name, league_alias, season_id, season_year, start_date, end_date, status, type_code]
Index: []

In [6]:
df_seasons["year_from_date"] = df_seasons["start_date"].dt.year
df_seasons[df_seasons["season_year"] != df_seasons["year_from_date"]]

Empty DataFrame
Columns: [league_id, league_name, league_alias, season_id, season_year, start_date, end_date, status, type_code, year_from_date]
Index: []

In [7]:
df_seasons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   league_id       13 non-null     object
 1   league_name     13 non-null     object
 2   league_alias    13 non-null     object
 3   season_id       13 non-null     object
 4   season_year     13 non-null     int64
 5   start_date      13 non-null     datetime64[ns]
 6   end_date        13 non-null     datetime64[ns]
 7   status          13 non-null     object
 8   type_code       13 non-null     object
 9   year_from_date  13 non-null     int32
dtypes: datetime64[ns](2), int32(1), int64(1), object(6)
memory usage: 1.1+ KB

In [8]:
df_seasons.to_csv("seasons.csv", index=False, encoding="utf-8")