In [10]:
import requests

url = "https://api.sportradar.com/ncaafb/trial/v7/en/polls/AP25/2025/01/rankings.json"

headers = {
    "accept": "application/json",
    "x-api-key": "n2TZzOYtgSSCFivhd5XuJBDabmRWPZC45zwo8Z5T"
}

response = requests.get(url, headers=headers)

print(response.text)

{"poll":{"id":"aef92d2e-6f2d-462a-972b-f38859ddb96f","alias":"AP25","name":"Associated Press Top 25"},"season":2025,"week":1,"effective_time":"2025-08-11T16:00:00+00:00","rankings":[{"id":"ae68bc50-4135-47b5-b2f1-03d0669e54c8","name":"Longhorns","market":"Texas","rank":1,"points":1552,"fp_votes":25},{"id":"eeb3ce19-6ddd-4c91-afab-811c6cc81974","name":"Nittany Lions","market":"Penn State","rank":2,"points":1547,"fp_votes":23},{"id":"9a6d6f3f-021e-4ddd-8fac-ac4766239d87","name":"Buckeyes","market":"Ohio State","rank":3,"points":1472,"fp_votes":11},{"id":"95404613-f4f0-4280-ac27-85419215f8d1","name":"Tigers","market":"Clemson","rank":4,"points":1398,"fp_votes":4},{"id":"2eef738d-c637-4b12-b8df-4b79efcce71e","name":"Bulldogs","market":"Georgia","rank":5,"points":1331,"fp_votes":1},{"id":"d7f19bff-74e7-4b71-a221-12dfeb144fd8","name":"Fighting Irish","market":"Notre Dame","rank":6,"points":1325,"fp_votes":0},{"id":"5c218a3b-a013-4037-97b6-603c9502b701","name":"Ducks","market":"Oregon","rank":7,"points":1236,"fp_votes":1},{"id":"19775492-f1eb-4bc5-9e15-078ebd689c0f","name":"Crimson Tide","market":"Alabama","rank":8,"points":1179,"fp_votes":0},{"id":"ffca4209-dbfa-4597-b25a-ed19bb351037","name":"Tigers","market":"LSU","rank":9,"points":1174,"fp_votes":0},{"id":"2f475a40-df87-43a7-b8a9-c36a43edff21","name":"Hurricanes","market":"Miami (FL)","rank":10,"points":889,"fp_votes":0},{"id":"00fd8418-0e62-4366-9a2a-d5f72850066c","name":"Sun Devils","market":"Arizona State","rank":11,"points":791,"fp_votes":0},{"id":"2d824a5f-e706-45b8-9d20-434ed5dd5c2f","name":"Fighting Illini","market":"Illinois","rank":12,"points":713,"fp_votes":0},{"id":"7b1dbcdb-34b2-479e-9b6b-4c7221e7f743","name":"Gamecocks","market":"South Carolina","rank":13,"points":667,"fp_votes":0},{"id":"d3e8c416-e643-4d5e-be9e-c598a150b234","name":"Wolverines","market":"Michigan","rank":14,"points":662,"fp_votes":0},{"id":"c765cbff-99d8-4c43-8f6b-e49577ca18fa","name":"Gators","market":"Florida","rank":15,"points":626,"fp_votes":0},{"id":"619c5384-3660-44ac-b2ad-597ccb3854c7","name":"Mustangs","market":"SMU","rank":16,"points":565,"fp_votes":0},{"id":"0dd26ea7-79fb-4ea8-bf48-7c31108e14a3","name":"Wildcats","market":"Kansas State","rank":17,"points":512,"fp_votes":0},{"id":"242f21d8-7372-4359-a04f-4d467ead22d6","name":"Sooners","market":"Oklahoma","rank":18,"points":463,"fp_votes":0},{"id":"d5199a36-7f26-4c3b-be48-9599039e232c","name":"Aggies","market":"Texas A&M","rank":19,"points":434,"fp_votes":0},{"id":"fa0eb091-8e35-49c7-b00f-269794a99a61","name":"Hoosiers","market":"Indiana","rank":20,"points":423,"fp_votes":0},{"id":"e3df6700-2881-4b02-a170-f397bb5718a9","name":"Rebels","market":"Ole Miss","rank":21,"points":370,"fp_votes":0},{"id":"d335c726-44aa-4b69-8271-59d42d691cba","name":"Cyclones","market":"Iowa State","rank":22,"points":309,"fp_votes":0},{"id":"22083fa4-8d9c-4ccc-8c33-cda772954099","name":"Red Raiders","market":"Texas Tech","rank":23,"points":274,"fp_votes":0},{"id":"9ecb9f6b-df4a-4a92-aaa4-5d50a5286bdd","name":"Volunteers","market":"Tennessee","rank":24,"points":192,"fp_votes":0},{"id":"35aa5295-ad07-4b95-aad2-63d1d5bf9009","name":"Broncos","market":"Boise State","rank":25,"points":191,"fp_votes":0}],"candidates":[{"id":"627b2e5c-3ba5-496e-9f9b-1c620247c1b7","name":"Cougars","market":"BYU","votes":156},{"id":"28e1dbb0-1295-42ca-bda1-fddb122aed2b","name":"Utes","market":"Utah","votes":144},{"id":"8b8225f5-eb09-48ea-9120-cef081918b7a","name":"Bears","market":"Baylor","votes":132},{"id":"1e8edb90-ea5e-4663-9a65-a30e51583711","name":"Cardinals","market":"Louisville","votes":90},{"id":"8f496f34-14e3-4ca7-958b-53f6da0b74d6","name":"Trojans","market":"USC","votes":64},{"id":"5ff038e1-6e3b-4cbe-90b8-751f783cd7a9","name":"Yellow Jackets","market":"Georgia Tech","votes":63},{"id":"772536c7-c3e8-40d1-ac6e-232d719dc052","name":"Tigers","market":"Missouri","votes":33},{"id":"98833e65-ab72-482d-b3c0-13f8656629c0","name":"Cornhuskers","market":"Nebraska","votes":23},{"id":"6551124f-312e-49c8-87c4-d1cba14133c7","name":"Green Wave","market":"Tulane","votes":23},{"id":"5f105ef1-4d01-45a5-bfbb-497ee86a8eba","name":"Rebels","market":"UNLV","votes":21},{"id":"692e1f0e-3c3a-4223-b2cf-7bbc58cf4977","name":"Rockets","market":"Toledo","votes":13},{"id":"e5bbd1bd-0d65-4581-8d9c-58b33fd5ce62","name":"Tigers","market":"Auburn","votes":10},{"id":"7c3a4847-5a1d-422f-b15b-dcc5f8cc5e24","name":"Tigers","market":"Memphis","votes":9},{"id":"b59ad9ae-b8ec-4f8e-9bd2-ec5b4af41e57","name":"Dukes","market":"James Madison","votes":9},{"id":"1c792ab1-d640-48f2-b796-6a81c7b14eaf","name":"Seminoles","market":"Florida State","votes":8},{"id":"deb0920f-c4ca-414d-be4b-ca779e353bf0","name":"Blue Devils","market":"Duke","votes":6},{"id":"4318b2b7-0b61-4509-b776-001b08c09dcc","name":"Flames","market":"Liberty","votes":5},{"id":"a2ee495d-37c7-45ac-ac3d-d3a492a219c1","name":"Hawkeyes","market":"Iowa","votes":5},{"id":"b1ff8076-e373-4b6a-ab0f-7f8f86bf0370","name":"Midshipmen","market":"Navy","votes":5},{"id":"a09e634d-39a8-4aa8-81a4-7337580a31f4","name":"Horned Frogs","market":"TCU","votes":4},{"id":"a5ef8db1-5d26-4d7e-af22-b21e380c16d2","name":"Panthers","market":"Pittsburgh","votes":3},{"id":"d23058c1-7aaa-44cd-995b-b4be7078df22","name":"Black Knights","market":"Army","votes":2},{"id":"2dec939a-f303-43ac-964d-37e81f75e286","name":"Ragin' Cajuns","market":"Louisiana","votes":1},{"id":"a18d7cf8-1263-45f2-a938-04032d2f7cf5","name":"Buffaloes","market":"Colorado","votes":1}]}

In [ ]:
import json # convert to python object

data = json.loads(response.text)
data

NameError: name 'response' is not defined

In [5]:
import json

# Load JSON file into a variable
with open("ranking.json", "r", encoding="utf-8") as f:
    data = json.load(f)

In [6]:
poll_info={
'poll_id"': data['poll']['id'],
'poll_alias:': data['poll']['alias'],
'poll_name': data['poll']['name'],
'season': data['season'],
'week': data['week'],
'effective_time': data['effective_time']
}

In [7]:
# convert to dataframe
import pandas as pd
poll_df = pd.DataFrame([poll_info])
poll_df

,"poll_id""",poll_alias:,poll_name,season,week,effective_time
0,aef92d2e-6f2d-462a-972b-f38859ddb96f,AP25,Associated Press Top 25,2025,1,2025-08-11T16:00:00+00:00

In [ ]:
rankingdata = data
rows = []

for team in rankingdata.get("rankings", []):
    rows.append({
        "poll_id": rankingdata["poll"].get("id"),
        "poll_name": rankingdata["poll"].get("name"),
        "poll_alias": rankingdata["poll"].get("alias"),
        "season": rankingdata.get("season"),
        "week": rankingdata.get("week"),
        "effective_time": rankingdata.get("effective_time"),

        "team_id": team.get("id"),
        "team_name": team.get("name"),
        "team_market": team.get("market"),
        "rank": team.get("rank"),
        "points": team.get("points"),
        "first_place_votes": team.get("fp_votes")
    })

df_rankings = pd.DataFrame(rows)
df_rankings

In [9]:
def explore_df(df, name="DataFrame"):
    print(f"\n==============================")
    print(f"üìä EXPLORING: {name}")
    print("==============================")

    # Shape
    print(f"\nüî∏ Shape: {df.shape[0]} rows √ó {df.shape[1]} columns")

    # Columns
    print("\nüî∏ Columns:")
    print(df.columns.tolist())

    # Data types
    print("\nüî∏ Data Types:")
    print(df.dtypes)

    # Missing values
    print("\nüî∏ Missing Values:")
    print(df.isnull().sum())

    # Memory usage
    print("\nüî∏ Memory Usage:")
    print(df.memory_usage(deep=True))

    # Head
    print("\nüî∏ First 5 Rows:")
    print(df.head())

    # Tail
    print("\nüî∏ Last 5 Rows:")
    print(df.tail())

    # Unique counts
    print("\nüî∏ Unique Values Per Column:")
    print(df.nunique())

    # Sample values per column
    print("\nüî∏ Sample Values Per Column:")
    for col in df.columns:
        print(f"  - {col}: {df[col].dropna().unique()[:5]}")

    print("\n==============================\n")

In [17]:
explore_df(df_rankings, name="Rankings DataFrame")

==============================
üìä EXPLORING: Rankings DataFrame
==============================

üî∏ Shape: 25 rows √ó 12 columns

üî∏ Columns:
['poll_id', 'poll_name', 'poll_alias', 'season', 'week', 'effective_time', 'team_id', 'team_name', 'team_market', 'rank', 'points', 'first_place_votes']

üî∏ Data Types:
poll_id                           object
poll_name                         object
poll_alias                        object
season                             int64
week                               int64
effective_time       datetime64[ns, UTC]
team_id                           object
team_name                         object
team_market                       object
rank                               int64
points                             int64
first_place_votes                  int64
dtype: object

üî∏ Missing Values:
poll_id              0
poll_name            0
poll_alias           0
season               0
week                 0
effective_time       0
team_id              0
team_name            0
team_market          0
rank                 0
points               0
first_place_votes    0
dtype: int64

üî∏ Memory Usage:
Index                 132
poll_id              2125
poll_name            1800
poll_alias           1325
season                200
week                  200
effective_time        200
team_id              2125
team_name            1445
team_market          1437
rank                  200
points                200
first_place_votes     200
dtype: int64

üî∏ First 5 Rows:
                                poll_id                poll_name poll_alias  \
0  aef92d2e-6f2d-462a-972b-f38859ddb96f  Associated Press Top 25       AP25
1  aef92d2e-6f2d-462a-972b-f38859ddb96f  Associated Press Top 25       AP25
2  aef92d2e-6f2d-462a-972b-f38859ddb96f  Associated Press Top 25       AP25
3  aef92d2e-6f2d-462a-972b-f38859ddb96f  Associated Press Top 25       AP25
4  aef92d2e-6f2d-462a-972b-f38859ddb96f  Associated Press Top 25       AP25

   season  week            effective_time  \
0    2025     1 2025-08-11 16:00:00+00:00
1    2025     1 2025-08-11 16:00:00+00:00
2    2025     1 2025-08-11 16:00:00+00:00
3    2025     1 2025-08-11 16:00:00+00:00
4    2025     1 2025-08-11 16:00:00+00:00

                                team_id      team_name team_market  rank  \
0  ae68bc50-4135-47b5-b2f1-03d0669e54c8      Longhorns       Texas     1
1  eeb3ce19-6ddd-4c91-afab-811c6cc81974  Nittany Lions  Penn State     2
2  9a6d6f3f-021e-4ddd-8fac-ac4766239d87       Buckeyes  Ohio State     3
3  95404613-f4f0-4280-ac27-85419215f8d1         Tigers     Clemson     4
4  2eef738d-c637-4b12-b8df-4b79efcce71e       Bulldogs     Georgia     5

   points  first_place_votes
0    1552                 25
1    1547                 23
2    1472                 11
3    1398                  4
4    1331                  1

üî∏ Last 5 Rows:
                                 poll_id                poll_name poll_alias  \
20  aef92d2e-6f2d-462a-972b-f38859ddb96f  Associated Press Top 25       AP25
21  aef92d2e-6f2d-462a-972b-f38859ddb96f  Associated Press Top 25       AP25
22  aef92d2e-6f2d-462a-972b-f38859ddb96f  Associated Press Top 25       AP25
23  aef92d2e-6f2d-462a-972b-f38859ddb96f  Associated Press Top 25       AP25
24  aef92d2e-6f2d-462a-972b-f38859ddb96f  Associated Press Top 25       AP25

    season  week            effective_time  \
20    2025     1 2025-08-11 16:00:00+00:00
21    2025     1 2025-08-11 16:00:00+00:00
22    2025     1 2025-08-11 16:00:00+00:00
23    2025     1 2025-08-11 16:00:00+00:00
24    2025     1 2025-08-11 16:00:00+00:00

                                 team_id    team_name  team_market  rank  \
20  e3df6700-2881-4b02-a170-f397bb5718a9       Rebels     Ole Miss    21
21  d335c726-44aa-4b69-8271-59d42d691cba     Cyclones   Iowa State    22
22  22083fa4-8d9c-4ccc-8c33-cda772954099  Red Raiders   Texas Tech    23
23  9ecb9f6b-df4a-4a92-aaa4-5d50a5286bdd   Volunteers    Tennessee    24
24  35aa5295-ad07-4b95-aad2-63d1d5bf9009      Broncos  Boise State    25

    points  first_place_votes
20     370                  0
21     309                  0
22     274                  0
23     192                  0
24     191                  0

üî∏ Unique Values Per Column:
poll_id               1
poll_name             1
poll_alias            1
season                1
week                  1
effective_time        1
team_id              25
team_name            24
team_market          25
rank                 25
points               25
first_place_votes     6
dtype: int64

üî∏ Sample Values Per Column:
  - poll_id: ['aef92d2e-6f2d-462a-972b-f38859ddb96f']
  - poll_name: ['Associated Press Top 25']
  - poll_alias: ['AP25']
  - season: [2025]
  - week: [1]
  - effective_time: <DatetimeArray>
['2025-08-11 16:00:00+00:00']
Length: 1, dtype: datetime64[ns, UTC]
  - team_id: ['ae68bc50-4135-47b5-b2f1-03d0669e54c8'
 'eeb3ce19-6ddd-4c91-afab-811c6cc81974'
 '9a6d6f3f-021e-4ddd-8fac-ac4766239d87'
 '95404613-f4f0-4280-ac27-85419215f8d1'
 '2eef738d-c637-4b12-b8df-4b79efcce71e']
  - team_name: ['Longhorns' 'Nittany Lions' 'Buckeyes' 'Tigers' 'Bulldogs']
  - team_market: ['Texas' 'Penn State' 'Ohio State' 'Clemson' 'Georgia']
  - rank: [1 2 3 4 5]
  - points: [1552 1547 1472 1398 1331]
  - first_place_votes: [25 23 11  4  1]

==============================

In [14]:
df_rankings["effective_time"] = pd.to_datetime(df_rankings["effective_time"])

In [18]:
df_rankings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   poll_id            25 non-null     object
 1   poll_name          25 non-null     object
 2   poll_alias         25 non-null     object
 3   season             25 non-null     int64
 4   week               25 non-null     int64
 5   effective_time     25 non-null     datetime64[ns, UTC]
 6   team_id            25 non-null     object
 7   team_name          25 non-null     object
 8   team_market        25 non-null     object
 9   rank               25 non-null     int64
 10  points             25 non-null     int64
 11  first_place_votes  25 non-null     int64
dtypes: datetime64[ns, UTC](1), int64(5), object(6)
memory usage: 2.5+ KB

In [13]:
df_rankings[df_rankings.duplicated("team_name", keep=False)][["team_id","team_name","rank"]]

                                team_id team_name  rank
3  95404613-f4f0-4280-ac27-85419215f8d1    Tigers     4
8  ffca4209-dbfa-4597-b25a-ed19bb351037    Tigers     9

In [12]:
# Push to sql

poll_df.to_sql()

TypeError: NDFrame.to_sql() missing 2 required positional arguments: 'name' and 'con'

In [ ]:
import pymysql

conn = pymysql.connect("host","user","password","database")
cursor = conn.cursor("Create table emp(id int, name varchar(20))")
cursor.execute(" ")

In [ ]:
import pandas as pd
import glob

files = glob.glob("*.csv")   # or "data/*.csv"
col = "team_id"

collected = []

for f in files:
    df = pd.read_csv(f)

    if col in df.columns:
        collected.append(df[col])
    else:
        print(f"‚ö†Ô∏è Column '{col}' NOT found in: {f} ‚Äî skipping")

# combine valid values (if any)
if collected:
    unique_values = (
        pd.concat(collected)
        .dropna()
        .drop_duplicates()
        .reset_index(drop=True)
    )
    print("\nüéâ Unique values extracted:")
    print(unique_values)
else:
    print("\n‚ùå No files contained the column:", col)

unique_values.to_csv("unique_team_ids.csv", index=False)

‚ö†Ô∏è Column 'team_id' NOT found in: schedule.csv ‚Äî skipping
‚ö†Ô∏è Column 'team_id' NOT found in: seasons.csv ‚Äî skipping

üéâ Unique values extracted:
0     627b2e5c-3ba5-496e-9f9b-1c620247c1b7
1     28e1dbb0-1295-42ca-bda1-fddb122aed2b
2     8b8225f5-eb09-48ea-9120-cef081918b7a
3     1e8edb90-ea5e-4663-9a65-a30e51583711
4     8f496f34-14e3-4ca7-958b-53f6da0b74d6
5     5ff038e1-6e3b-4cbe-90b8-751f783cd7a9
6     772536c7-c3e8-40d1-ac6e-232d719dc052
7     98833e65-ab72-482d-b3c0-13f8656629c0
8     6551124f-312e-49c8-87c4-d1cba14133c7
9     5f105ef1-4d01-45a5-bfbb-497ee86a8eba
10    692e1f0e-3c3a-4223-b2cf-7bbc58cf4977
11    e5bbd1bd-0d65-4581-8d9c-58b33fd5ce62
12    7c3a4847-5a1d-422f-b15b-dcc5f8cc5e24
13    b59ad9ae-b8ec-4f8e-9bd2-ec5b4af41e57
14    1c792ab1-d640-48f2-b796-6a81c7b14eaf
15    deb0920f-c4ca-414d-be4b-ca779e353bf0
16    4318b2b7-0b61-4509-b776-001b08c09dcc
17    a2ee495d-37c7-45ac-ac3d-d3a492a219c1
18    b1ff8076-e373-4b6a-ab0f-7f8f86bf0370
19    a09e634d-39a8-4aa8-81a4-7337580a31f4
20    a5ef8db1-5d26-4d7e-af22-b21e380c16d2
21    d23058c1-7aaa-44cd-995b-b4be7078df22
22    2dec939a-f303-43ac-964d-37e81f75e286
23    a18d7cf8-1263-45f2-a938-04032d2f7cf5
24    ae68bc50-4135-47b5-b2f1-03d0669e54c8
25    eeb3ce19-6ddd-4c91-afab-811c6cc81974
26    9a6d6f3f-021e-4ddd-8fac-ac4766239d87
27    95404613-f4f0-4280-ac27-85419215f8d1
28    2eef738d-c637-4b12-b8df-4b79efcce71e
29    d7f19bff-74e7-4b71-a221-12dfeb144fd8
30    5c218a3b-a013-4037-97b6-603c9502b701
31    19775492-f1eb-4bc5-9e15-078ebd689c0f
32    ffca4209-dbfa-4597-b25a-ed19bb351037
33    2f475a40-df87-43a7-b8a9-c36a43edff21
34    00fd8418-0e62-4366-9a2a-d5f72850066c
35    2d824a5f-e706-45b8-9d20-434ed5dd5c2f
36    7b1dbcdb-34b2-479e-9b6b-4c7221e7f743
37    d3e8c416-e643-4d5e-be9e-c598a150b234
38    c765cbff-99d8-4c43-8f6b-e49577ca18fa
39    619c5384-3660-44ac-b2ad-597ccb3854c7
40    0dd26ea7-79fb-4ea8-bf48-7c31108e14a3
41    242f21d8-7372-4359-a04f-4d467ead22d6
42    d5199a36-7f26-4c3b-be48-9599039e232c
43    fa0eb091-8e35-49c7-b00f-269794a99a61
44    e3df6700-2881-4b02-a170-f397bb5718a9
45    d335c726-44aa-4b69-8271-59d42d691cba
46    22083fa4-8d9c-4ccc-8c33-cda772954099
47    9ecb9f6b-df4a-4a92-aaa4-5d50a5286bdd
48    35aa5295-ad07-4b95-aad2-63d1d5bf9009
Name: team_id, dtype: object

In [3]:
import pandas as pd
import glob
import os

col = "team_id"

# Folder containing CSV files
files = glob.glob("*.csv")

# Output folder
output_folder = "data"
os.makedirs(output_folder, exist_ok=True)  # create it if not exists

collected = []

for f in files:
    df = pd.read_csv(f)
    if col in df.columns:
        collected.append(df[col])
    else:
        print(f"‚ö†Ô∏è Column '{col}' NOT found in: {f} ‚Äî skipping")

# Combine unique
if collected:
    unique_values = (
        pd.concat(collected)
        .dropna()
        .drop_duplicates()
        .reset_index(drop=True)
    )

    # SAVE INSIDE /data FOLDER
    save_path = os.path.join(output_folder, "unique_team_ids.csv")
    unique_values.to_csv(save_path, index=False)

    print(f"\nüéâ Saved to: {save_path}")

else:
    print("\n‚ùå No CSV files contained the column:", col)

‚ö†Ô∏è Column 'team_id' NOT found in: schedule.csv ‚Äî skipping
‚ö†Ô∏è Column 'team_id' NOT found in: seasons.csv ‚Äî skipping

üéâ Saved to: data\unique_team_ids.csv

In [8]:
import pandas as pd
import glob
import os

# Columns you want
cols_to_extract = [
    "team_id",
    "name_id",
    "market",
    "alias",
    "founded",
    "mascot",
    "fight_song",
    "championships_won",
]

# Find all CSVs in root folder
files = glob.glob("*.csv")

# Output folder
output_folder = "data"
os.makedirs(output_folder, exist_ok=True)

combined_rows = []

print("\nüîç Checking CSV files...\n")

for f in files:
    df = pd.read_csv(f)

    # get only columns that actually exist in this file
    available_cols = [c for c in cols_to_extract if c in df.columns]

    if not available_cols:
        print(f"‚ö†Ô∏è Skipping {f} ‚Äî none of the target columns found")
        continue

    print(f"‚úî Extracting from: {f} ‚Üí {available_cols}")

    extracted = df[available_cols].copy()
    extracted["source_file"] = f

    combined_rows.append(extracted)

# Combine all extracted data
if combined_rows:
    final_df = pd.concat(combined_rows, ignore_index=True).drop_duplicates()

    save_path = os.path.join(output_folder, "combined_team_info.csv")
    final_df.to_csv(save_path, index=False)

    print(f"\nüéâ Saved extracted data to: {save_path}\n")
    print(final_df.head())
else:
    print("\n‚ùå No files contained any of the target columns.")

üîç Checking CSV files...

‚úî Extracting from: candidates.csv ‚Üí ['team_id']
‚úî Extracting from: player_profile.csv ‚Üí ['team_id']
‚úî Extracting from: rankings.csv ‚Üí ['team_id']
‚úî Extracting from: roster.csv ‚Üí ['team_id', 'name_id', 'market', 'alias', 'founded', 'mascot', 'fight_song', 'championships_won']
‚ö†Ô∏è Skipping schedule.csv ‚Äî none of the target columns found
‚ö†Ô∏è Skipping seasons.csv ‚Äî none of the target columns found

üéâ Saved extracted data to: data\combined_team_info.csv

                                team_id     source_file name_id market alias  \
0  627b2e5c-3ba5-496e-9f9b-1c620247c1b7  candidates.csv     NaN    NaN   NaN
1  28e1dbb0-1295-42ca-bda1-fddb122aed2b  candidates.csv     NaN    NaN   NaN
2  8b8225f5-eb09-48ea-9120-cef081918b7a  candidates.csv     NaN    NaN   NaN
3  1e8edb90-ea5e-4663-9a65-a30e51583711  candidates.csv     NaN    NaN   NaN
4  8f496f34-14e3-4ca7-958b-53f6da0b74d6  candidates.csv     NaN    NaN   NaN

   founded mascot fight_song  championships_won
0      NaN    NaN        NaN                NaN
1      NaN    NaN        NaN                NaN
2      NaN    NaN        NaN                NaN
3      NaN    NaN        NaN                NaN
4      NaN    NaN        NaN                NaN